.sidebar,
#side-menu{
    background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
}
#navbar{
	background: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);
    width: 100%;
    /*margin-left: -5px;
    margin-right: -5px;*/
}
#navbar-fluid{
	padding: 0;
}

#navbar .navbar-brand{
	padding:  10px 36px;
}
.homepage_title {
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #004C9C;
    margin: 0;
}
.homepage_sub_title {
    font-size: 20px;
    line-height: 27px;
    color: #3E3E3E;
    margin: 0;
    margin-bottom: .7em;
}
.sidebar{
	margin-top:2em;
}
#sysadmin_main_content{
	margin-top: 8em;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
	vertical-align: middle;
	horizontal-align:middle;
	padding: 4px;
}

.sm-simple-clean {
  border: none;
  border-top: solid 1px #eee; 
}