/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
 /* padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;*/
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  /*margin-bottom: 2em;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 10rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  /*height: 32rem;*/
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  /*height: 32rem;*/
}

.carousel-control-next, .carousel-control-prev{
  opacity: .2;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}


/*.info_perumdam*/
/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/


@media (min-width: 768px) and (max-width: 991px) {
  /* Show 4th slide on md  if col-md-4*/
  .info_perumdam  .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

}

@media (min-width: 576px) and (max-width: 768px) {
  /* Show 3rd slide on sm  if col-sm-6*/
  .info_perumdam  .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

}
@media (min-width: 576px) {
  
  .info_perumdam  .carousel-item {
        margin-right: 0;
    }

    /* show 2 items */
  .info_perumdam  .carousel-inner .active + .carousel-item {
        display: block;
    }
    
  .info_perumdam  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .info_perumdam  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }

  .info_perumdam  .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    /* left or forward direction */
  .info_perumdam  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .info_perumdam  .carousel-item-next.carousel-item-left + .carousel-item,
  .info_perumdam  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    } 
    
    /* farthest right hidden item must be abso position for animations */
  .info_perumdam  .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* right or prev direction */
  .info_perumdam  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .info_perumdam  .carousel-item-prev.carousel-item-right + .carousel-item,
  .info_perumdam  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}

/*MD*/
@media (min-width: 768px) {

    /* show 3rd of 3 item slide */
  .info_perumdam  .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
 
 .info_perumdam   .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
  
    
 .info_perumdam   .carousel-inner .carousel-item-next {
      position: relative;
      transform: translate3d(0, 0, 0);
    }
    
    
    /* left or forward direction */
  .info_perumdam  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* right or prev direction */
  .info_perumdam  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}


/*LG */
@media (min-width: 991px) {

    /* show 4th item */
  .info_perumdam  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    
  .info_perumdam  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    
    /* Show 5th slide on lg if col-lg-3 */
  .info_perumdam  .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    
    /* left or forward direction */
  .info_perumdam  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    
    /* right or prev direction //t - previous slide direction last item animation fix */
  .info_perumdam  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
#myCarousel .image-container img,
.info_perumdam .carousel-inner img{
  cursor: pointer;
}
.main_galery .items{
  padding: 0;
  overflow: hidden;
}
.main_galery .items .info{
  position: absolute;
  z-index: 10;
  width: 100%;
  background: #788;
  color: #fff;
  padding: .2em;
  opacity: .7;
}
.main_galery .items .info h4{
  font-size: 14px;
    padding: .2em;
    margin: 0;
}
.main_galery .items a{
  transition: all .5s;
}
.main_galery .items:hover a,
.main_galery .items:focus a {
  transform: scale(1.2);
}
.carousel-item .image-container > img{
  width:100%;
}
#info-perumdam .carousel-item img{
  transition: all .5s;
}
#info-perumdam .carousel-item:hover img,
#info-perumdam .carousel-item:focus img
{
    transform: scale(1.2);
}
 
div.scrolling-limit{
  /*width: 300px;*/
  /*height: 20px;*/
  /*background-color: yellow;*/
  overflow:hidden;
  white-space:nowrap;
  
}


marquee.scrolling *{
  display: inline !important;
  margin-left: 3em;
  color: #007BAE;
  text-transform: uppercase;
  font-weight: bold;
}


#accordion_konsultasi > .card ,
#accordion_konsultasi > .card > .card-header {
  border: none;
  /*border-radius: .25rem;*/
}
/*
root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
*/
#accordion_konsultasi > .card > .card-header > h2 > a > i.fa{
  float: right;
  padding: .2em 0 0 0;
  clear: both;
}
#accordion_konsultasi > .card > .card-header > h2 > a{
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
#accordion_konsultasi > .card  .card-body {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
  background: #fff;
    border-radius: 5px;
    margin-top: -.5em;
    margin-bottom: 1em;
    border: solid 1px  rgba(0, 0, 0, 0.03);
}
#accordion_konsultasi > .card > .card-header {
  background: #3399cc;
  margin-bottom: .5em;
}
.form_registrasi .btn-cnt{
	padding: 1em;
}
.form-error-message p{
  margin-bottom: 1px !important;
}
.form_registrasi .warning-message a.external-link{
	color: #007BAE !important;
}
.form_registrasi .warning-message{
	padding: 1em;
	color:red;
	text-align: center;
}
.form_registrasi .btn-cnt,
.form_registrasi .img-container{
	text-align: center;
}
@keyframes ldio-impz8rtaeal {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-impz8rtaeal div {
  position: absolute;
  animation: ldio-impz8rtaeal 1s linear infinite;
  width: 68px;
  height: 68px;
  top: 66px;
  left: 66px;
  border-radius: 50%;
  box-shadow: 0 3.8000000000000003px 0 0 #07abcc;
  transform-origin: 34px 35.9px;
}
.loadingio-spinner-eclipse-jbdsf4d36pg {
  width: 200px;
    height: 200px;
    display: block;
    overflow: hidden;
    background: none;
    margin: 15% auto;
}
.ldio-impz8rtaeal {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-impz8rtaeal div { box-sizing: content-box; }
    #progress {
        position: fixed !important;
        z-index: 2147483647;
        top: 0;
        left: -6px;
        width: 0%;
        height: 5px;
        background: red;
        -moz-border-radius: 1px;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        -moz-transition: width 500ms ease-out,opacity 400ms linear;
        -ms-transition: width 500ms ease-out,opacity 400ms linear;
        -o-transition: width 500ms ease-out,opacity 400ms linear;
        -webkit-transition: width 500ms ease-out,opacity 400ms linear;
        transition: width 500ms ease-out,opacity 400ms linear
    }
    #progress.done {
        opacity: 0
    }
    #progress dd,#progress dt {
        position: absolute;
        top: 0;
        height: 2px;
        -moz-box-shadow: red 1px 0 6px 1px;
        -ms-box-shadow: red 1px 0 6px 1px;
        -webkit-box-shadow: red 1px 0 6px 1px;
        box-shadow: red 1px 0 6px 1px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%
    }
    #progress dd {
        opacity: 1;
        width: 20px;
        right: 0;
        clip: rect(-6px,22px,14px,10px)
    }
    #progress dt {
        opacity: 1;
        width: 180px;
        right: -80px;
        clip: rect(-6px,90px,14px,-6px)
    }
    @-moz-keyframes pulse {
        30% {
            opacity: 1
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    @-ms-keyframes pulse {
        30% {
            opacity: .6
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: .6
        }
    }
    @-o-keyframes pulse {
        30% {
            opacity: 1
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    @-webkit-keyframes pulse {
        30% {
            opacity: .6
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: .6
        }
    }
    @keyframes pulse {
        30% {
            opacity: 1
        }
        60% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    #progress.waiting dd,#progress.waiting dt {
        -moz-animation: pulse 2s ease-out 0s infinite;
        -ms-animation: pulse 2s ease-out 0s infinite;
        -o-animation: pulse 2s ease-out 0s infinite;
        -webkit-animation: pulse 2s ease-out 0s infinite;
        animation: pulse 2s ease-out 0s infinite
    }
 
.wrapper{
  width:100%;
}
.search_result.container{
	padding: 1em 5em;
}
@media(max-width:992px){
 .wrapper{
  width:100%;
} 
}
.big-title{padding:0 0 0 0;
}
.tentang-kami-cnt{
	padding:4em 0;
}
.panel-heading {
  padding: 0;
	border:0;
}
.bg-image-shadow.default {
    background-position: -3px 11px;
}
#accordion_konsultasi .panel-body{
		margin-bottom: 1.5em;
	}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:.2em;
  color:#555;
  font-size:16px;
  font-weight:bold;
	/*text-transform:uppercase;*/
	letter-spacing:1px;
  word-spacing:3px;
	text-decoration:none;
}
.panel-heading  a:before {
   /*font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;*/
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
}
.post.reply-comment-box {

}
.konsultasi .big-title{
	padding-bottom: 1em;
}
#accordion_konsultasi{
	padding-left: 3em; 
	padding-right:  3em; 
	padding-bottom:   3em; 
}
.article-comments .reply-toggle > a{

font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-align: center;
letter-spacing: -0.03em;

color: #004C9C;

}
.article-comments .reply-toggle{
	margin-bottom: 12px;
}
.comment-box .header-comment{
 	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
letter-spacing: -0.03em;

color: #212224;
 }
 .comment-box .header-comment.sub{
 	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */

letter-spacing: -0.03em;

color: #C4C4C4;
 }
.comment-form > div > div {
	padding: 0;
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=password],
.comment-form select,
.comment-form textarea{
	font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/* identical to box height */


color: #686868;
margin-bottom: 1.5em !important;
}
main .article-content.box-comment-list{
	padding: 2em !important;
	background: #F5F6F8;
border-radius: 10px;
	margin : -6em  5em 0 10em;
}
main .article-content.box-comment-list .comment-author{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
margin-right: 1em;
/* identical to box height */

letter-spacing: -0.03em;

color: #212224;
}
main .article-content.box-comment-list .comment-date{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height */

text-align: center;
letter-spacing: -0.03em;

color: #A5A5A5;
}
main .article-content.box-comment-list .comment-content{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
letter-spacing: -0.03em;

color: #212224;
margin-top: 1em;
padding-bottom: 1em
}
.comment-form input[type=text],
.comment-form input[type=email],
.comment-form input[type=password],
.comment-form textarea{
	padding: 1.5em 2em !important;
}
#service_list .service_item > a{
	color: #212224;
}
 .service_title{



font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
text-align: center;
 }
 .article-author{
 	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */

padding: 0;
margin: 0;
color: #25282B;
 }	
  .article-dt{
 	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #A5A5A5;
 }
 .article-breadcrumbs.default .breadcrumb{
 	background: none;
 }
 .article-breadcrumbs.default{
 	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
letter-spacing: -0.03em;
padding:2em 0 0 4em

 }	
 .article-breadcrumbs.default .breadcrumb a{
 	color: #004C9C;
 }
main .content{
	/* padding-top: 1em !important;
    padding-left: 11em !important; */
}
main .article-content{
	padding: 0 !important;
}
 #app > header{
 	padding-top: 24px !important;
 	background: #FFFFFF;
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
margin:0 !important;
 }
 a.service_button{
 	width:140px;
 	height: 140px;
 	background: transparent url(icons/gradient-ball.png) top left no-repeat;
 	display: block;
 	padding: 38px; 
 	margin: 1em auto;
 }
 .carousel-indicators{
 	/*bottom: -20px !important;*/
 	display: none;
 } 
 .carousel-indicators > ol > li{
 	border: 2px solid #004C9C;

 }
 .service-description{
 	font-size: 20px;
 	color: #212224;
 }
 .service_item{
 	padding: 10px;
 	margin : 10px 1em;
 }
 .carousel-indicators li
 {border: 2px solid #004C9C important;
 	width:40px;height: 40px}
a.carousel-link{
	display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 180px;
  line-height: 60px;
}
a.carousel-link,
.big-title
{
	font-size: 44px !important;
	font-weight: bold !important;
	text-decoration: none !important;
  /* 1570500888-logopdamtkr 2 */
}
.carousel-indicators li a:hover{
	text-decoration: none !important;
}
.carousel-item  > .image-shadow{
	background: no-repeat 100% 100%;
	background-size: contain;
	/*opacity:.4;*/
	/*height:512px;*/
	width:100%;
}
div.underline{
	width: 51px;
	height: 5px;
	background: linear-gradient(32.73deg, #004C9C 0%, #0090D4 57.29%, #00AFE0 100%);
	margin: 10px auto;

}
#logo{
  position: absolute;
left: 3.33%;
right: 91.18%;
top: 0.47%;
bottom: 98.27%;

background: url(logo.png);
}
body{
	
	font-family: "Open Sans";
}
.navbar.fixed-top{
		top:50 !important;
	}
	a.nav-link{
		color:#3E3E3E;
		padding-right: 1.2em !important;
	}
	.top-icon{
		margin-left: 18px;
	}
	.top-icon.second{
		text-align: right;
	}
#navbarCollapse{
	padding-top: 1em;
	padding-bottom: 1em;
	/*overflow: hidden;*/
}	
a.nav-link{
	font-size: 18px;
	line-height: 25px;
	font-weight:bold;
	color:#3E3E3E;
	white-space: nowrap;
  overflow: hidden;
}
.carousel-inner{
	background: linear-gradient(32.73deg, #004C9C 0%, #0090D4 57.29%, #00AFE0 100%);
	/*background: linear-gradient(29.02deg, rgba(0, 76, 156, 0.8) 0%, rgba(0, 144, 212, 0.8) 57.29%, rgba(0, 175, 224, 0.8) 100%);*/
	
}
.navbar.top{
	/*margin-left: 48px !important;*/
}

.social-icons > li a{
display: block;
height: 44px;
}
.social-icons > li {
	width: 52px;
    height: 52px;
    margin-right: 18px;
}
.social-icons > li.fb {
	    background: transparent url(social-icons.png) 4px 2px no-repeat;
    
}
.social-icons > li.ig {
	    background: transparent url(social-icons.png) -69px 2px no-repeat;
  
}
.social-icons > li.twitter {
	    background: transparent url(social-icons.png) -142px 2px no-repeat;
    
}
.row.kop{
	/*border-bottom:  solid 1px #E5E5E5 !important;*/
	padding-bottom: 1em;
}
.navbar.top > .navbar-collapse{
	/*border-top:  solid 1px #E5E5E5 !important;*/
}
.form-inline.cari{
	/*position: absolute;
	right: -30px;*/
	 width: 100% !important;
 justify-content: flex-end !important;
}
input.cari{
	border: solid 1px #D6D6D6;
    border-radius: 50px;
    color: #D6D6D6;
    font-size: 14px;
    line-height: 19px;
    padding: 18px 11px 20px 42px;
    background: transparent url(search.png) 10px 7px no-repeat;
    width: 158px !important;
}.my_news_title{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;

color: #212224
}
.my_news_info{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 19px;
/*margin: 0;*/
padding: 0;
/* identical to box height */


color: #C4C4C4;
list-style: none !important;
}
.my_news_item{
	/*width: 384px;*/
}
.news_content {
    margin: -28px 20px 3px 20px;
    background: #fff;
    padding: 1em;
    border-radius: 5px;
}
.my_news_container{
	margin-top: 1em;
}
.my_news_container .news_link{
 
font-weight: bold;
font-size: 14px;
line-height: 19px; 
color: #004C9C;
padding: 1em 0;
    display: block;
}
.link_goto_page{
	background: linear-gradient(90deg, #004C9C 0%, #0090D4 57.29%, #00AFE0 100%);
border-radius: 50px;
	color: #fff;
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
padding: 1em 2em;
}
.link_goto_page:hover{
	text-decoration: none !important;
	color: #eee;
}
.link_separator {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2em 0;
}
.bg-video-about{
	background: linear-gradient(317.43deg, #004C9C -10.63%, #0090D4 57.56%, #00AFE0 112.89%);
	padding: 4em;
	padding-right: 0;
}
ul.social-icons{
    	    list-style-type: none;
    display: inline-flex;
}
    }	
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

 .homepage_title{
 	font-weight: bold;
	font-size: 24px;
	line-height: 33px; 
	color: #004C9C;
	margin: 0;
 }     
.homepage_sub_title{
 	font-size: 20px;
	line-height: 27px;
	color: #3E3E3E;
	margin: 0;

 }
 .masonry-container {
    margin: 0 auto; /* this is the css that keeps the container centered in page */
}

.image-div {
    float: left;
    width: 230px;
    margin: 12px 5px;
    font-size: 0;
}

.image {
    width: 230px;
    height: auto;
}

.web-links{
	list-style: none;

	margin: 0;
    padding: 0;
}
.web-links > li.item > a.link{
	font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #212224;
}
.web-links.contact > li.item.contact{
	padding-left: 28px;
}
.social-icon-bottom{
	list-style: none;
	display: flex;
	flex-direction: row;
	    margin: 0;
    padding: 0;
}
.footer-text{
	padding: 2em 2em 0em 2em;
}
.social-icon-bottom > li a{
display: block;
height: 42px;
}
.social-icon-bottom > li {
	width: 48px;
    height: 48px;
    margin-right: 10px;
}
.app-link-container{
	margin: 1em 0;
}
.social-icon-bottom > li.fb {
	    background: transparent url(social-icon-sm.png) 4px 2px no-repeat;
    
}
.social-icon-bottom > li.ig {
	    background: transparent url(social-icon-sm.png) -69px 2px no-repeat;
  
}
.social-icon-bottom > li.twitter {
	    background: transparent url(social-icon-sm.png) -142px 2px no-repeat;
    
}
.footer-item-heading{
	font-weight: bold;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #004C9C;
}
.my_galery{
	background-color: #F9F9F9;
	margin: 0 !important;
	width: 100% !important;
	max-width: 100%;
}
.caraousel-pagination{
	display: flex;
	justify-content: center;
}
.caraousel-pagination > .pagination > li > a{
	    display: block;
    width: 22px;
    height: 22px;
    padding: 0.8em 1.2em;
    font-size: 8px !important;
}
.caraousel-pagination > .pagination > li {
	width: 24px;
	height: : 24px;
	margin-right: .5em;
	background: transparent url(/pub/img/dots.png) no-repeat  no-repeat -28px 2px;
	/*background-image: url(/pub/img/dots.png) 0px 0px;*/
}
.caraousel-pagination > .pagination > li.active {
 
	background: transparent url(/pub/img/dots.png) no-repeat  no-repeat 2px 2px;
	/*background-image: url(/pub/img/dots.png) 0px 0px;*/
}


.container > .page_banner  {
	background: linear-gradient(29.02deg, rgba(0, 76, 156, 0.8) 0%, rgba(0, 144, 212, 0.8) 57.29%, rgba(0, 175, 224, 0.8) 100%);
	height: 404px;
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.page_banner .data{
	    padding: 5em 5em;
}
.page_banner .hypen{
	width:61px;
	height: 8px;
	background:#fff;
}

.page_banner .content_breadcrumb{
	font-weight: bold;
font-size: 20px;
line-height: 27px !important;

color: #FFFFFF;
}
.page_banner .content_description{
	margin-top: .5em;
	font-weight: bold;
font-size: 52px;
line-height: 71px;
letter-spacing: -0.03em;

color: #FFFFFF;
display: block;/* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 180px;
  line-height: 60px;
}
.article-info .my_news_info,
.news_content .my_news_info{
	font-size: 14px;
	line-height: 19px;
	color: #C4C4C4;
	}
.search_result.container .items .snippet > img {
	width:200px;
	height: auto;
	margin: 1em !important;
}
.search_result.container .items .snippet {
	margin-bottom: 1em;
}
.search_result.container .items .snippet i{
	color: red;
	text-decoration: underline;
}
.search_result.container .items>a,

.news_content .news_link{
	font-weight: bold;
	font-size: 14px;
	line-height: 19px; 
	color: #004C9C;
	    padding: 1em 0;
    display: block;
}
.news_content{
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
border-radius: 5px;
    margin-bottom: 1em;
}
.news_pagination{
	list-style: none;
	display: flex;
	flex-direction: row;
	margin: 0;
    padding: 3em 4px;
    align-items: center;
    justify-content: center;
}

.news_pagination > li {
	display: block;
	/*min-width: 48px;*/
	height: 48px;
	background: #fff;
	box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.08);
	margin-right: .5em;
    margin-left: 6px;border-radius: 50%;
}
.news_pagination > li.active{
	

	background: linear-gradient(315deg, #004C9C 0%, #0090D4 52.08%, #00AFE0 100%);
}
.news_pagination > li.active >a{
	color: #fff;
}
.news_pagination > li > a,
.news_pagination > li > span{
	display: block;
	/*min-width: 42px;*/
	height: 42px;
	padding: 11px 20px;
	    /*padding: 12px 14px;*/
    text-align: center;
}
.latest_news,
.archived_news{
background: #FFFFFF;
box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
border-radius: 15px;
}
.archived_news,
.latest_news {
	margin-top: 4.9em;
	padding: 1em;
}
.latest_title{
font-weight: bold;
font-size: 16px;
line-height: 22px;
color: #212224;
}

.latest_news .latest_dt{
	font-size: 14px;
	line-height: 19px;
	/* identical to box height */
	
	
	color: #212224;
}
.latest_news  .container-latest .bg-image-shadow{
	flex:1;
	background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-color: rgb(196, 196, 196);
	border-radius: 5px;
	width: 96px !important;
	height: 96px !important;
	margin: 1em;
}
.latest_news  .container-latest .latest-info{
	flex:2;
	padding: 1em;
}
.latest_news .item-title,
.archived_news .item-title{
	font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #212224;
    margin: 0 -2px 1px 18px;
    padding: 4px 0 12px 0;
}
ul.archived_stat_item{
	list-style: none;
    padding: .8em 1.5em;
    margin: 0;
}
	ul.archived_stat_item .item-cnt > h4.month {
	font-size: 16px;
	line-height: 22px;
	color: #212224;
	list-style: none;
}
.archived_news .item-cnt{
	margin-bottom: 1em;
}
.archived_news .badge{
	width:48px;
	height:28px;
	background: #F5F5F5;
	border-radius: 50px;
}
.archived_news .badge-text{
	font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #838383;
}
.content h2.title-article{
font-style: normal !important;
font-weight: bold !important;
font-size: 44px !important;
line-height: 60px !important; 
color: #212224 !important;
/*text-align: center;*/
margin-bottom: 1em;
/*display: inline;*/
}
.news_container-cnt{
	padding-top:5em
}
.jajaran_direksi{
	padding-bottom: 5em;
}
.jajaran_direksi .ctr .photo-frame{
	height: 360px;
}
.jajaran_direksi .photo-frame{
	height: 400px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.jajaran_direksi .row .cnt{
	background: #004C9C;
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
	padding: 0;
	margin-right: 1em;
	text-align: center;
}
.jajaran_direksi .row .cnt.ctr{
	background: linear-gradient(65.9deg, #004C9C 0%, #0090D4 39.46%, #00AFE0 71.48%);
	box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.08);
	border-radius: 10px;
}

.jajaran_direksi .row .cnt .info{
	padding: 1em .4em;
}
.jajaran_direksi .row .cnt .info .nama,
.jajaran_direksi .row .cnt .info .jabatan{
	color: #fff;
	 
}
.jajaran_direksi .row .cnt .info .link{
	font-size: 14px;
	line-height: 19px;
 
	text-decoration-line: none;
	color: #ECECEC;
}
.jajaran_direksi .row .cnt .info .nama{
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
}
.jajaran_direksi .row .cnt .info .jabatan{
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
}

.kontak.container{
	padding: 3em;
	margin-top: -404px;
}
.kontak > .main_container{
	border-radius: 10px;
    margin-top: -105px;
    background: #fff;
}
.kontak .kontak-box .cups  {
	padding: 1em;
}


.kontak .kontak-box .cups > .link {
	display: block;
	width : 58px;
	height: 58px;
	margin: 1em auto;
}
.kontak .kontak-box  {
	border-radius: 10px 10px 0px 0px;
}
.bgMask{
	height: 404px;
	background: linear-gradient(29.02deg, rgba(0, 76, 156, 0.7) 32.42%, rgba(0, 144, 212, 0.7) 89.71%, rgba(0, 175, 224, 0.7) 132.42%);
}
.social_widget .heading{
	font-style: normal;
	font-weight: bold;
	font-size: 52px;
	line-height: 71px;
	margin:0;
	padding: 0;
	color: #212224;
}
.social_widget{
	padding: 5em 3em;
}
.social_widget .cups {
	width: 198px;
	margin: 0 auto;
}
.social_widget .cups .headline{
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #212224;
}
.social_widget .cupz .link{
	display: block;
	width: 70px;
	height: 70px;
	margin: -15px auto 1em auto;

}
.social_widget .cupz div.username{
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	color: #004C9C;
	margin-bottom: 3em;
}
.social_widget .cupz .link.fb {
	background: transparent url(/pub/img/social-icon-4.png) no-repeat -66px 0px;
}
.social_widget .cupz .link.ig {
	background: transparent url(/pub/img/social-icon-4.png) no-repeat 0px 0px;
}
.social_widget .cupz .link.twitter {
	background: transparent url(/pub/img/social-icon-4.png) no-repeat 0px -72px;
}

.social_widget .cupz .link.yt {
	background: transparent url(/pub/img/social-icon-4.png) no-repeat -69px -71px;
}

.form_pengaduan .pengaduan_form .form-title,
.form_pengaduan .riwayat_pengaduan .form-title,
.form_tagihan  .form-title,
.form_registrasi .wrp .form-title{
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	color: #212224;
	text-align: center;
}
.form_pengaduan .riwayat_pengaduan .form-title,
.form_pengaduan .pengaduan_form  .form-title{
	text-align: left;
}

.form_pengaduan .riwayat_pengaduan .form-subtitle,
.form_pengaduan .pengaduan_form .form-subtitle{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	color: #212224;
}

.form_pengaduan ,
.form_tagihan,
.form_registrasi {
	padding-top: 3em;
	padding-bottom: 3em;
}
 
.form_tagihan .wrp form, 
.form_pengaduan .riwayat-pengaduan-form,
.form_pengaduan .pengaduan-form,
.form_registrasi .wrp .main-form{
	font-family: Nunito;
	background: #FFFFFF;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
	border-radius: 15px;
	margin-top: 2em;
	padding: 3em;
}
.form_tagihan form label,
.form_pengaduan form label,
.form_registrasi form label{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #212224;
	margin-bottom: 1em;
}

.form_registrasi .wrp .main-form .input-container.kode_pos{
	width: 200px;
}
.form_registrasi .wrp .main-form .input-container.foto{
	/*width: 200px;*/
}
.reply-form-cont form input[type=text],
.reply-form-cont form input[type=email],
.reply-form-cont form input[type=tel],
.reply-form-cont form textarea{
	margin-bottom: 1em;
}
.reply-form-cont form input[type=text],
.reply-form-cont form input[type=email],
.reply-form-cont form input[type=tel],
.reply-form-cont form textarea, 
article.comment-box form input[type=text],
article.comment-box form input[type=email],
article.comment-box form input[type=tel],
article.comment-box form textarea,
.form_pengaduan form input[type=email],
.form_pengaduan form input[type=tel],
.form_pengaduan form textarea,
/*.form_pengaduan form select,*/
.form_pengaduan form input[type=file],
.form_pengaduan form input[type=text],

.form_tagihan form input[type=email],
.form_tagihan form input[type=tel],
.form_tagihan form textarea,
/*.form_tagihan form select,*/
.form_tagihan form input[type=file],
.form_tagihan form input[type=text],
.form_registrasi .wrp .main-form input[type=email],
.form_registrasi .wrp .main-form input[type=tel],
.form_registrasi .wrp .main-form textarea,
/*.form_registrasi .wrp .main-form select,*/
.form_registrasi .wrp .main-form input[type=file],
.form_registrasi .wrp .main-form input[type=text]
{
	background: #FFFFFF;
	border: 1px solid #E7E7E7;
	box-sizing: border-box;
	border-radius: 50px;

	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #686868;
	padding: 1.5em 1.2em;
}
.form_registrasi .wrp .main-form input[type=file]{
	border:none;
	padding: 2px;
}

/*.form_registrasi .wrp .main-form select,*/
article.comment-box form .form-control{
	margin: 5px 0;
}
.reply-form-cont form  textarea, 
article.comment-box form textarea,
.form_pengaduan form textarea,
.form_registrasi .wrp .main-form textarea{
	border-radius: 5px;
}

 .riwayat_pengaduan_detail {
 	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
 	margin-top: 3em;
 }
 .info-pelanggan .form-grp label  {
 	font-family: Open Sans ;
 }
 .info-pelanggan .form-grp .tbl-val{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-align: right;
	color: #212224;
 }
.list-pengaduan .pg-title-cnt .dt_text{
 	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	padding-left: 2em;
	padding-top: .25em;
	color: #C4C4C4;
 }
.list-pengaduan .pg-title-cnt .title_pengaduan{
 	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 22px;
	text-align: right;
	color: #212224;
 }
button span.caption{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	color: #fff;
	font-size: 14px;

}
.list-pengaduan .kode_pengaduan{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	text-align: right;
	color: #C4C4C4;
}

.list-pengaduan .table tbody td {
	padding: 1em 0 0 0;
	border:none !important;
}

.selectWrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
    /*border: 1px solid #bbb;*/
    border-radius: 2px;
    background:#FFFFFF url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%2011%2011%22%3E%3Cpath%20d%3D%22M4.33%208.5L0%201L8.66%201z%22%20fill%3D%22%2300AEA9%22%2F%3E%3C%2Fsvg%3E') right 13px center no-repeat;

    /*background: #FFFFFF;*/
	border: 1px solid #E7E7E7;
	box-sizing: border-box;
	border-radius: 50px;

	
}

.selectWrapper select {
    padding: 12px 40px 12px 20px;
   /* font-size: 18px;
    line-height: 18px;*/
    width: 100%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: ellipsis;

    font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	color: #686868;
	height: 42px;

}

.input-container.foto-preview{
	width:320px;
	height: 240px;
	background-size: cover;
	background-repeat: no-repeat;
	/*background-color: */
	border: 1px solid #E7E7E7;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 1em;
	margin-top: 1em;
}

input[type=file].fileUpload {
	position: absolute;
    width: 112px;
    border-radius: 0 !important;
    height: 40px;
    opacity: 0;
    cursor: pointer;
}
.form-error-message{
	background: red;
    color: #dff;
    padding: 1em;
    border-radius: 10px;
}

.table-web-api-result .total-tunggakan td,
.table-web-api-result .jumlah-tunggakan td,
.table-web-api-result .total-tagihan td,
.table-web-api-result .jumlah-tagihan td{
	font-weight: bold;
}
.breadcrumb li  span.cls-2{
	color: #838383 !important;

}
.article-content img[title=Logo\ TKR]{
		width: 250px !important;
		height: auto;
	}
	.article-content img{
		width: 90% ;
		height: auto;
	}
/*samsung galaxy s5*/
/*.navbar.top{
	display: block;
}*/
.nav-mobile{
	display: none;
}
.navbar.top #navbarCollapse{
		display: block;
	}
@media (max-width: 640px) {
	.navbar.top{
		
		/*opacity: .8;*/
		/*
#004C9C 0%, #0090D4 57.29%, #00AFE0 
		*/
		background-color: #0090D4 !important;
		margin-left: -10px;
    margin-right: -10px;
    margin-top: -25px;
    min-height: 55px;
	}
	.navbar.top #navbarCollapse{
		display: none;
		padding-top: 0;
	}
	.nav-mobile{
		display: block;
    margin-left: -17px;
    margin-right: -17px;
    position: absolute;
    z-index: 2;
    margin-top: -25px;
    background: transparent !important;
    right: 10px;
	}

	.navbar-nav > .nav-item.dropdown > .dropdown-menu > a.dropdown-item,
	.navbar-nav > .nav-item > a{
		color: #fff;
	}
	.navbar-nav > .nav-item.dropdown > .dropdown-menu{
		background-color:  #0090D4;
		border: none;
	}
#accordion_konsultasi{
		padding-left: 1em; 
		padding-right:  1em; 
		padding-bottom:   1em; 
	}
	#accordion_konsultasi .panel-body{
		margin-bottom: 1em;
	}
	.bg-image-shadow.default{
		background-position: -13px 11px;
	}
 .homepage_title{
 	font-size: 14px;
    line-height: 18px;
 }
 .homepage_sub_title {
    font-size: 16px;
 }
 a.homepage > img{
 	width: 80%;
 }
 .row.kop > .col-md-6 > div > div{
 	padding-right: 0 !important;
 	/*width: 80px;*/
 }
  .row.kop > .col-md-6  .social-icons{
  	margin: -1;
    display: flex !important;
    justify-content: center;
  }
  #navbarCollapse{
  	display: block;

  	/*text-align: center;*/
  }
  #navbarCollapse form{
  	display: flex;
  }
  #navbarCollapse form .cari{
  	display: flex;
  	width: 100% !important
  }
  .image-shadow{
  	background-size: contain !important;
  }
  a.carousel-link, .big-title{
  	font-size: 18px !important;
  	line-height: 25px;
  	margin-top: .5em;
  	padding:1em; 
  }
  .carousel-inner{
  	height: auto;
  }
  .carousel-caption{
  	top: 2em;
  }
  .service-description {
  	font-size: 12px;
    padding: 0 1em !important;
    line-height: 21px;
    margin-top: -11px;
  }
  .service_item{
  	text-align: center;
  	    margin: 0 0 0 -25px;
	/*margin-top: 0;  	*/
    /*margin-left: 70px;*/

  }
  .underline{
  	margin-top: -25px;
  }
  .my_news_item{
  	padding-top: 0;
  }
  .bg-video-about{
  	padding: 0;
  }
  .container.my_galery{
  	padding: 1em !important;
  }
  .grid.masonry-container{
  	padding: 0;
  }
  .footer-items .web-links{
  	margin-bottom: 1em;
  }
  .footer-text{
  	display: block;
    padding: 1em;
  }
  .container.about{
  	padding: 0 2em !important;
  	font-size: 98%;
  }
  .page_banner .data{
  	padding: 3em 2em !important;
  	font-size: 80% !important;
  }
  .page_banner .content_breadcrumb{
  	line-height: 60px;
  }

  form .selectWrapper{
  	margin-bottom: 1em
  }
  .social_widget.container .cupz{
  	margin-top: 1em !important;
  }
  .jajaran_direksi .col-md-3.cnt{
  	/*height: 300px !important*/
  	display: block;
  	margin : 1em auto;
  	width: 80%;

  }
  .news_content{
  	    padding: 1em !important;
    margin: -1em 4px !important;
  }
  .article-breadcrumbs.default {
  	padding:1em 1em 0 1.6em  !important;
  }
  .article-breadcrumbs.default .breadcrumb{
  	padding-bottom: 0 !important;
  	margin-bottom: 0 !important;
  }
  main .content {
    padding-top: 1em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
}
.breadcrumb li span.cls-2,
	.article-breadcrumbs.default .breadcrumb a{
		font-size: 18px !important;
	}
	.content h2.title-article{
		font-size: 20px !important;
		line-height: 31px !important;
	}
	.share-container{
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		padding: 0;
	}
	.share-container a{
		margin-right: .5em
	}
	.article-content img{
		width: 100%;
		height: auto;
	}
    .news_container .my_news_item,
	.my_news_container .my_news_item{
		/*margin-top: 4em !important*/
		margin-top: 1em !important; 
		margin-bottom:  1em !important; 
	}
	.link_separator{
		margin-top: 1em;
	} 

	}
	.row.kop {
		padding-top: 1em;
	}
	
	main .article-content.box-comment-list {
	    /*padding: 0 !important;*/
	    background: #F5F6F8;
	    border-radius: 10px;
	    margin: .45em;
	}
	main .article-content.box-comment-list *{
		/*font-size:95% !important;*/
	}
	.tentang-kami-cnt{
		padding:1em 0;
	}
	.news_pagination{
		overflow: hidden;
		overflow-x: auto;

	}
	.news_pagination > li.disabled > a:hover{
		text-decoration: none;
	}
	.news_pagination > li.disabled > a{
		color: #ddd;
		cursor: default;
	}

	.news_pagination > li.disabled,
	.news_pagination > li.next,
	.news_pagination > li.prev{
		border-radius: 10px;
		padding-right: 1em;
		padding-left: 1em;
	}
	.header > div > .featurette-divider{
		display: none;
	}
	.news_container-cnt{
		padding-top: 1em
	}
	.archived_news, .latest_news {
	    margin-top: 1em;
	    padding: 1em;
	}
	
	
}