<?php
echo $this->SysHtml->rsToCakeUrl($i);
if (isset($i['children'])):
    if ($i['children']):
        ?><ul>
            <?php
            foreach ($i['children'] as $ii):
                ?><li><?php
                    echo $this->element('sidebar/i', array('i' => $ii), array('plugin' => 'Sysadmin'));
                    ?></li><?php
            endforeach;
            ?>
        </ul><?php
    endif;
endif;
?>