<?php
if(!isset($below_header)):
    ?><div id="below-header"></div><?php
    return;
endif;
?>
<div id="below-header" class="fit-margin">
    <section class="wrapper style3">
        <div class="row spc-up no-padding">
		<!--<div class="col-md-12 no-padding">
		<ul class="tabs group col-md-12">
		  <li class="active"><span><a class="tile-stats tile-blue " class="col-xs-12" href="<?php echo $this->Html->url(array('action'=>'cust_register'), true);?>">
							<div class="icon"><i class="fa fa-pencil-square"></i></div>
							<h3>Daftar</h3>
							<p> <?php echo __d('syscm','Customer Registration');?></p>
						</a><a class="tile-stats tile-blue pull-left" class="col-xs-12" href="<?php echo $this->Html->url(array('action'=>'cust_register'), true);?>">
							<div class="icon"><i class="fa fa-pencil-square"></i></div>
							<h3>Daftar</h3>
							<p> <?php echo __d('syscm','Customer Registration');?></p>
						</a></span></li>
		</ul>
		</div> -->         
            <section class="6u 12u(narrower)">
            <?php
                //echo isset($below_header['searchform']) ?  $this->element('Syscm.' . $theme_alias . '/searchform', array('searchform' => $below_header['searchform'])):"";
                ?>
            </section>
        </div>
    </section>
</div>