<ul class="tabs group col-md-12 no-padding uni">
		  <li class="active"><span><a class="tile-stats tile-blue " class="col-xs-12" href="<?php echo $this->Html->url(array('action'=>'cust_register'), true);?>">
							<div class="icon"><i class="fa fa-pencil-square"></i></div>
							<h3>Daftar</h3>
							<p> <?php echo __d('syscm','Customer Registration');?></p>
						</a><a class="tile-stats tile-green red-blink" class="col-xs-12" href="<?php echo $this->Html->url(array('action'=>'cust_bill'), true);?>">
							<div class="icon"><i class="fa fa-pencil-square"></i></div>
							<h3>Tagihan</h3>
							<p> <?php echo __d('syscm','Billing Info');?></p>
						</a></span></li>
		</ul>
<div class="clearfix"></div>
<br>