/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30 Nov 15, 15:39:55
    Author     : ino
*/

body {
  background-color: #fff;
}

.signin-heading{
    text-align: center;
}