<div class="activitiesLogs index">
	<h2><?php echo __('Activities Logs'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('user_id'); ?></th>
			<th><?php echo $this->Paginator->sort('active_status'); ?></th>
			<th><?php echo $this->Paginator->sort('text'); ?></th>
			<th><?php echo $this->Paginator->sort('annotation'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($activitiesLogs as $activitiesLog): ?>
	<tr>
		<td><?php echo h($activitiesLog['ActivitiesLog']['id']); ?>&nbsp;</td>
		<td><?php echo h($activitiesLog['ActivitiesLog']['name']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($activitiesLog['User']['name'], array('controller' => 'users', 'action' => 'view', $activitiesLog['User']['id'])); ?>
		</td>
		<td><?php echo h($activitiesLog['ActivitiesLog']['active_status']); ?>&nbsp;</td>
		<td><?php echo h($activitiesLog['ActivitiesLog']['text']); ?>&nbsp;</td>
		<td><?php echo h($activitiesLog['ActivitiesLog']['annotation']); ?>&nbsp;</td>
		<td><?php echo h($activitiesLog['ActivitiesLog']['created']); ?>&nbsp;</td>
		<td><?php echo h($activitiesLog['ActivitiesLog']['modified']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $activitiesLog['ActivitiesLog']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $activitiesLog['ActivitiesLog']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $activitiesLog['ActivitiesLog']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $activitiesLog['ActivitiesLog']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Activities Log'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Users'), array('controller' => 'users', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New User'), array('controller' => 'users', 'action' => 'add')); ?> </li>
	</ul>
</div>
