@import url("font-awesome.min.css");
@import url("fonts-css.css");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
}
*, *::before, *::after {
    box-sizing: border-box;
}
.container {
    margin-left: auto;
    margin-right: auto;
}
.container.\31 25\% {
    max-width: 1750px;
    min-width: 1400px;
    width: 100%;
}
.container.\37 5\% {
    width: 1050px;
}
.container.\35 0\% {
    width: 700px;
}
.container.\32 5\% {
    width: 350px;
}
.container {
    width: 1400px;
}
@media screen and (max-width: 1680px) {
.container.\31 25\% {
    max-width: 1500px;
    min-width: 1200px;
    width: 100%;
}
.container.\37 5\% {
    width: 900px;
}
.container.\35 0\% {
    width: 600px;
}
.container.\32 5\% {
    width: 300px;
}
.container {
    width: 1200px;
}
}
#logo{
    min-height: 56px;
    
}
#logo h1{
    display: none;
}
@media screen and (max-width: 1280px) {
.container.\31 25\% {
    max-width: 1200px;
    min-width: 960px;
    width: 100%;
}
.container.\37 5\% {
    width: 720px;
}
.container.\35 0\% {
    width: 480px;
}
.container.\32 5\% {
    width: 240px;
}
.container {
    width: 960px;
}
}
@media screen and (max-width: 980px) {
.container.\31 25\% {
    max-width: 118.75%;
    min-width: 95%;
    width: 100%;
}
.container.\37 5\% {
    width: 71.25%;
}
.container.\35 0\% {
    width: 47.5%;
}
.container.\32 5\% {
    width: 23.75%;
}
.container {
    width: 95%;
}
}
@media screen and (max-width: 840px) {
.container.\31 25\% {
    max-width: 118.75%;
    min-width: 95%;
    width: 100%;
}
.container.\37 5\% {
    width: 71.25%;
}
.container.\35 0\% {
    width: 47.5%;
}
.container.\32 5\% {
    width: 23.75%;
}
.container {
    width: 95% !important;
}
}
@media screen and (max-width: 736px) {
.container.\31 25\% {
    max-width: 112.5%;
    min-width: 90%;
    width: 100%;
}
.container.\37 5\% {
    width: 67.5%;
}
.container.\35 0\% {
    width: 45%;
}
.container.\32 5\% {
    width: 22.5%;
}
.container {
    width: 90% !important;
}
}
@media screen and (max-width: 480px) {
.container.\31 25\% {
    max-width: 125%;
    min-width: 100%;
    width: 100%;
}
.container.\37 5\% {
    width: 75%;
}
.container.\35 0\% {
    width: 50%;
}
.container.\32 5\% {
    width: 25%;
}
.container {
    width: 100% !important;
}
}
.row {
    border-bottom: 1px solid transparent;
    box-sizing: border-box;
}
.row > * {
    box-sizing: border-box;
    float: left;
}
.row::after, .row::before {
    clear: both;
    content: "";
    display: block;
    height: 0;
}
.row.uniform > * > *:first-child {
    margin-top: 0;
}
.row.uniform > * > *:last-child {
    margin-bottom: 0;
}
.row.\30 \% > * {
    padding: 0;
}
.row.\30 \% {
    margin: 0 0 -1px;
}
.row.uniform.\30 \% > * {
    padding: 0;
}
.row.uniform.\30 \% {
    margin: 0 0 -1px;
}
.row > * {
    padding: 50px 0 0 50px;
}
.row {
    margin: -50px 0 -1px -50px;
}
.row.uniform > * {
    padding: 50px 0 0 50px;
}
.row.uniform {
    margin: -50px 0 -1px -50px;
}
.row.\32 00\% > * {
    padding: 100px 0 0 100px;
}
.row.\32 00\% {
    margin: -100px 0 -1px -100px;
}
.row.uniform.\32 00\% > * {
    padding: 100px 0 0 100px;
}
.row.uniform.\32 00\% {
    margin: -100px 0 -1px -100px;
}
.row.\31 50\% > * {
    padding: 75px 0 0 75px;
}
.row.\31 50\% {
    margin: -75px 0 -1px -75px;
}
.row.uniform.\31 50\% > * {
    padding: 75px 0 0 75px;
}
.row.uniform.\31 50\% {
    margin: -75px 0 -1px -75px;
}
.row.\35 0\% > * {
    padding: 25px 0 0 25px;
}
.row.\35 0\% {
    margin: -25px 0 -1px -25px;
}
.row.uniform.\35 0\% > * {
    padding: 25px 0 0 25px;
}
.row.uniform.\35 0\% {
    margin: -25px 0 -1px -25px;
}
.row.\32 5\% > * {
    padding: 12.5px 0 0 12.5px;
}
.row.\32 5\% {
    margin: -12.5px 0 -1px -12.5px;
}
.row.uniform.\32 5\% > * {
    padding: 12.5px 0 0 12.5px;
}
.row.uniform.\32 5\% {
    margin: -12.5px 0 -1px -12.5px;
}
.\31 2u, .\31 2u\$ {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u, .\31 1u\$ {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u, .\31 0u\$ {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u, .\39 u\$ {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u, .\38 u\$ {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u, .\37 u\$ {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u, .\36 u\$ {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u, .\35 u\$ {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u, .\34 u\$ {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u, .\33 u\$ {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u, .\32 u\$ {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u, .\31 u\$ {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$ + *, .\31 1u\$ + *, .\31 0u\$ + *, .\39 u\$ + *, .\38 u\$ + *, .\37 u\$ + *, .\36 u\$ + *, .\35 u\$ + *, .\34 u\$ + *, .\33 u\$ + *, .\32 u\$ + *, .\31 u\$ + * {
    clear: left;
}
.-\31 1u {
    margin-left: 91.6667%;
}
.-\31 0u {
    margin-left: 83.3333%;
}
.-\39 u {
    margin-left: 75%;
}
.-\38 u {
    margin-left: 66.6667%;
}
.-\37 u {
    margin-left: 58.3333%;
}
.-\36 u {
    margin-left: 50%;
}
.-\35 u {
    margin-left: 41.6667%;
}
.-\34 u {
    margin-left: 33.3333%;
}
.-\33 u {
    margin-left: 25%;
}
.-\32 u {
    margin-left: 16.6667%;
}
.-\31 u {
    margin-left: 8.33333%;
}
@media screen and (max-width: 1680px) {
.row > * {
    padding: 40px 0 0 40px;
}
.row {
    margin: -40px 0 -1px -40px;
}
.row.uniform > * {
    padding: 40px 0 0 40px;
}
.row.uniform {
    margin: -40px 0 -1px -40px;
}
.row.\32 00\% > * {
    padding: 80px 0 0 80px;
}
.row.\32 00\% {
    margin: -80px 0 -1px -80px;
}
.row.uniform.\32 00\% > * {
    padding: 80px 0 0 80px;
}
.row.uniform.\32 00\% {
    margin: -80px 0 -1px -80px;
}
.row.\31 50\% > * {
    padding: 60px 0 0 60px;
}
.row.\31 50\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\31 50\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\31 50\% {
    margin: -60px 0 -1px -60px;
}
.row.\35 0\% > * {
    padding: 20px 0 0 20px;
}
.row.\35 0\% {
    margin: -20px 0 -1px -20px;
}
.row.uniform.\35 0\% > * {
    padding: 20px 0 0 20px;
}
.row.uniform.\35 0\% {
    margin: -20px 0 -1px -20px;
}
.row.\32 5\% > * {
    padding: 10px 0 0 10px;
}
.row.\32 5\% {
    margin: -10px 0 -1px -10px;
}
.row.uniform.\32 5\% > * {
    padding: 10px 0 0 10px;
}
.row.uniform.\32 5\% {
    margin: -10px 0 -1px -10px;
}
.\31 2u\(wide\), .\31 2u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(wide\), .\31 1u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(wide\), .\31 0u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(wide\), .\39 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(wide\), .\38 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(wide\), .\37 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(wide\), .\36 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(wide\), .\35 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(wide\), .\34 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(wide\), .\33 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(wide\), .\32 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(wide\), .\31 u\$\(wide\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(wide\) + *, .\31 1u\$\(wide\) + *, .\31 0u\$\(wide\) + *, .\39 u\$\(wide\) + *, .\38 u\$\(wide\) + *, .\37 u\$\(wide\) + *, .\36 u\$\(wide\) + *, .\35 u\$\(wide\) + *, .\34 u\$\(wide\) + *, .\33 u\$\(wide\) + *, .\32 u\$\(wide\) + *, .\31 u\$\(wide\) + * {
    clear: left;
}
.-\31 1u\(wide\) {
    margin-left: 91.6667%;
}
.-\31 0u\(wide\) {
    margin-left: 83.3333%;
}
.-\39 u\(wide\) {
    margin-left: 75%;
}
.-\38 u\(wide\) {
    margin-left: 66.6667%;
}
.-\37 u\(wide\) {
    margin-left: 58.3333%;
}
.-\36 u\(wide\) {
    margin-left: 50%;
}
.-\35 u\(wide\) {
    margin-left: 41.6667%;
}
.-\34 u\(wide\) {
    margin-left: 33.3333%;
}
.-\33 u\(wide\) {
    margin-left: 25%;
}
.-\32 u\(wide\) {
    margin-left: 16.6667%;
}
.-\31 u\(wide\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 1280px) {
.row > * {
    padding: 30px 0 0 30px;
}
.row {
    margin: -30px 0 -1px -30px;
}
.row.uniform > * {
    padding: 30px 0 0 30px;
}
.row.uniform {
    margin: -30px 0 -1px -30px;
}
.row.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.uniform.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.uniform.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.uniform.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.uniform.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.row.uniform.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.uniform.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.\31 2u\(normal\), .\31 2u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(normal\), .\31 1u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(normal\), .\31 0u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(normal\), .\39 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(normal\), .\38 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(normal\), .\37 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(normal\), .\36 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(normal\), .\35 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(normal\), .\34 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(normal\), .\33 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(normal\), .\32 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(normal\), .\31 u\$\(normal\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(normal\) + *, .\31 1u\$\(normal\) + *, .\31 0u\$\(normal\) + *, .\39 u\$\(normal\) + *, .\38 u\$\(normal\) + *, .\37 u\$\(normal\) + *, .\36 u\$\(normal\) + *, .\35 u\$\(normal\) + *, .\34 u\$\(normal\) + *, .\33 u\$\(normal\) + *, .\32 u\$\(normal\) + *, .\31 u\$\(normal\) + * {
    clear: left;
}
.-\31 1u\(normal\) {
    margin-left: 91.6667%;
}
.-\31 0u\(normal\) {
    margin-left: 83.3333%;
}
.-\39 u\(normal\) {
    margin-left: 75%;
}
.-\38 u\(normal\) {
    margin-left: 66.6667%;
}
.-\37 u\(normal\) {
    margin-left: 58.3333%;
}
.-\36 u\(normal\) {
    margin-left: 50%;
}
.-\35 u\(normal\) {
    margin-left: 41.6667%;
}
.-\34 u\(normal\) {
    margin-left: 33.3333%;
}
.-\33 u\(normal\) {
    margin-left: 25%;
}
.-\32 u\(normal\) {
    margin-left: 16.6667%;
}
.-\31 u\(normal\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 980px) {
.row > * {
    padding: 30px 0 0 30px;
}
.row {
    margin: -30px 0 -1px -30px;
}
.row.uniform > * {
    padding: 30px 0 0 30px;
}
.row.uniform {
    margin: -30px 0 -1px -30px;
}
.row.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.uniform.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.uniform.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.uniform.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.uniform.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.row.uniform.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.uniform.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.\31 2u\(narrow\), .\31 2u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(narrow\), .\31 1u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(narrow\), .\31 0u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(narrow\), .\39 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(narrow\), .\38 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(narrow\), .\37 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(narrow\), .\36 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(narrow\), .\35 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(narrow\), .\34 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(narrow\), .\33 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(narrow\), .\32 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(narrow\), .\31 u\$\(narrow\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(narrow\) + *, .\31 1u\$\(narrow\) + *, .\31 0u\$\(narrow\) + *, .\39 u\$\(narrow\) + *, .\38 u\$\(narrow\) + *, .\37 u\$\(narrow\) + *, .\36 u\$\(narrow\) + *, .\35 u\$\(narrow\) + *, .\34 u\$\(narrow\) + *, .\33 u\$\(narrow\) + *, .\32 u\$\(narrow\) + *, .\31 u\$\(narrow\) + * {
    clear: left;
}
.-\31 1u\(narrow\) {
    margin-left: 91.6667%;
}
.-\31 0u\(narrow\) {
    margin-left: 83.3333%;
}
.-\39 u\(narrow\) {
    margin-left: 75%;
}
.-\38 u\(narrow\) {
    margin-left: 66.6667%;
}
.-\37 u\(narrow\) {
    margin-left: 58.3333%;
}
.-\36 u\(narrow\) {
    margin-left: 50%;
}
.-\35 u\(narrow\) {
    margin-left: 41.6667%;
}
.-\34 u\(narrow\) {
    margin-left: 33.3333%;
}
.-\33 u\(narrow\) {
    margin-left: 25%;
}
.-\32 u\(narrow\) {
    margin-left: 16.6667%;
}
.-\31 u\(narrow\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 840px) {
.row > * {
    padding: 30px 0 0 30px;
}
.row {
    margin: -30px 0 -1px -30px;
}
.row.uniform > * {
    padding: 30px 0 0 30px;
}
.row.uniform {
    margin: -30px 0 -1px -30px;
}
.row.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.uniform.\32 00\% > * {
    padding: 60px 0 0 60px;
}
.row.uniform.\32 00\% {
    margin: -60px 0 -1px -60px;
}
.row.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.uniform.\31 50\% > * {
    padding: 45px 0 0 45px;
}
.row.uniform.\31 50\% {
    margin: -45px 0 -1px -45px;
}
.row.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.uniform.\35 0\% > * {
    padding: 15px 0 0 15px;
}
.row.uniform.\35 0\% {
    margin: -15px 0 -1px -15px;
}
.row.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.row.uniform.\32 5\% > * {
    padding: 7.5px 0 0 7.5px;
}
.row.uniform.\32 5\% {
    margin: -7.5px 0 -1px -7.5px;
}
.\31 2u\(narrower\), .\31 2u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(narrower\), .\31 1u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(narrower\), .\31 0u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(narrower\), .\39 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(narrower\), .\38 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(narrower\), .\37 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(narrower\), .\36 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(narrower\), .\35 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(narrower\), .\34 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(narrower\), .\33 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(narrower\), .\32 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(narrower\), .\31 u\$\(narrower\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(narrower\) + *, .\31 1u\$\(narrower\) + *, .\31 0u\$\(narrower\) + *, .\39 u\$\(narrower\) + *, .\38 u\$\(narrower\) + *, .\37 u\$\(narrower\) + *, .\36 u\$\(narrower\) + *, .\35 u\$\(narrower\) + *, .\34 u\$\(narrower\) + *, .\33 u\$\(narrower\) + *, .\32 u\$\(narrower\) + *, .\31 u\$\(narrower\) + * {
    clear: left;
}
.-\31 1u\(narrower\) {
    margin-left: 91.6667%;
}
.-\31 0u\(narrower\) {
    margin-left: 83.3333%;
}
.-\39 u\(narrower\) {
    margin-left: 75%;
}
.-\38 u\(narrower\) {
    margin-left: 66.6667%;
}
.-\37 u\(narrower\) {
    margin-left: 58.3333%;
}
.-\36 u\(narrower\) {
    margin-left: 50%;
}
.-\35 u\(narrower\) {
    margin-left: 41.6667%;
}
.-\34 u\(narrower\) {
    margin-left: 33.3333%;
}
.-\33 u\(narrower\) {
    margin-left: 25%;
}
.-\32 u\(narrower\) {
    margin-left: 16.6667%;
}
.-\31 u\(narrower\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 736px) {
.row > * {
    padding: 20px 0 0 20px;
}
.row {
    margin: -20px 0 -1px -20px;
}
.row.uniform > * {
    padding: 20px 0 0 20px;
}
.row.uniform {
    margin: -20px 0 -1px -20px;
}
.row.\32 00\% > * {
    padding: 40px 0 0 40px;
}
.row.\32 00\% {
    margin: -40px 0 -1px -40px;
}
.row.uniform.\32 00\% > * {
    padding: 40px 0 0 40px;
}
.row.uniform.\32 00\% {
    margin: -40px 0 -1px -40px;
}
.row.\31 50\% > * {
    padding: 30px 0 0 30px;
}
.row.\31 50\% {
    margin: -30px 0 -1px -30px;
}
.row.uniform.\31 50\% > * {
    padding: 30px 0 0 30px;
}
.row.uniform.\31 50\% {
    margin: -30px 0 -1px -30px;
}
.row.\35 0\% > * {
    padding: 10px 0 0 10px;
}
.row.\35 0\% {
    margin: -10px 0 -1px -10px;
}
.row.uniform.\35 0\% > * {
    padding: 10px 0 0 10px;
}
.row.uniform.\35 0\% {
    margin: -10px 0 -1px -10px;
}
.row.\32 5\% > * {
    padding: 5px 0 0 5px;
}
.row.\32 5\% {
    margin: -5px 0 -1px -5px;
}
.row.uniform.\32 5\% > * {
    padding: 5px 0 0 5px;
}
.row.uniform.\32 5\% {
    margin: -5px 0 -1px -5px;
}
.\31 2u\(mobile\), .\31 2u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(mobile\), .\31 1u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(mobile\), .\31 0u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(mobile\), .\39 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(mobile\), .\38 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(mobile\), .\37 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(mobile\), .\36 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(mobile\), .\35 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(mobile\), .\34 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(mobile\), .\33 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(mobile\), .\32 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(mobile\), .\31 u\$\(mobile\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(mobile\) + *, .\31 1u\$\(mobile\) + *, .\31 0u\$\(mobile\) + *, .\39 u\$\(mobile\) + *, .\38 u\$\(mobile\) + *, .\37 u\$\(mobile\) + *, .\36 u\$\(mobile\) + *, .\35 u\$\(mobile\) + *, .\34 u\$\(mobile\) + *, .\33 u\$\(mobile\) + *, .\32 u\$\(mobile\) + *, .\31 u\$\(mobile\) + * {
    clear: left;
}
.-\31 1u\(mobile\) {
    margin-left: 91.6667%;
}
.-\31 0u\(mobile\) {
    margin-left: 83.3333%;
}
.-\39 u\(mobile\) {
    margin-left: 75%;
}
.-\38 u\(mobile\) {
    margin-left: 66.6667%;
}
.-\37 u\(mobile\) {
    margin-left: 58.3333%;
}
.-\36 u\(mobile\) {
    margin-left: 50%;
}
.-\35 u\(mobile\) {
    margin-left: 41.6667%;
}
.-\34 u\(mobile\) {
    margin-left: 33.3333%;
}
.-\33 u\(mobile\) {
    margin-left: 25%;
}
.-\32 u\(mobile\) {
    margin-left: 16.6667%;
}
.-\31 u\(mobile\) {
    margin-left: 8.33333%;
}
}
@media screen and (max-width: 480px) {
.row > * {
    padding: 20px 0 0 20px;
}
.row {
    margin: -20px 0 -1px -20px;
}
.row.uniform > * {
    padding: 20px 0 0 20px;
}
.row.uniform {
    margin: -20px 0 -1px -20px;
}
.row.\32 00\% > * {
    padding: 40px 0 0 40px;
}
.row.\32 00\% {
    margin: -40px 0 -1px -40px;
}
.row.uniform.\32 00\% > * {
    padding: 40px 0 0 40px;
}
.row.uniform.\32 00\% {
    margin: -40px 0 -1px -40px;
}
.row.\31 50\% > * {
    padding: 30px 0 0 30px;
}
.row.\31 50\% {
    margin: -30px 0 -1px -30px;
}
.row.uniform.\31 50\% > * {
    padding: 30px 0 0 30px;
}
.row.uniform.\31 50\% {
    margin: -30px 0 -1px -30px;
}
.row.\35 0\% > * {
    padding: 10px 0 0 10px;
}
.row.\35 0\% {
    margin: -10px 0 -1px -10px;
}
.row.uniform.\35 0\% > * {
    padding: 10px 0 0 10px;
}
.row.uniform.\35 0\% {
    margin: -10px 0 -1px -10px;
}
.row.\32 5\% > * {
    padding: 5px 0 0 5px;
}
.row.\32 5\% {
    margin: -5px 0 -1px -5px;
}
.row.uniform.\32 5\% > * {
    padding: 5px 0 0 5px;
}
.row.uniform.\32 5\% {
    margin: -5px 0 -1px -5px;
}
.\31 2u\(mobilep\), .\31 2u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 100%;
}
.\31 1u\(mobilep\), .\31 1u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 91.6667%;
}
.\31 0u\(mobilep\), .\31 0u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 83.3333%;
}
.\39 u\(mobilep\), .\39 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 75%;
}
.\38 u\(mobilep\), .\38 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 66.6667%;
}
.\37 u\(mobilep\), .\37 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 58.3333%;
}
.\36 u\(mobilep\), .\36 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 50%;
}
.\35 u\(mobilep\), .\35 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 41.6667%;
}
.\34 u\(mobilep\), .\34 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 33.3333%;
}
.\33 u\(mobilep\), .\33 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 25%;
}
.\32 u\(mobilep\), .\32 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 16.6667%;
}
.\31 u\(mobilep\), .\31 u\$\(mobilep\) {
    clear: none;
    margin-left: 0;
    width: 8.33333%;
}
.\31 2u\$\(mobilep\) + *, .\31 1u\$\(mobilep\) + *, .\31 0u\$\(mobilep\) + *, .\39 u\$\(mobilep\) + *, .\38 u\$\(mobilep\) + *, .\37 u\$\(mobilep\) + *, .\36 u\$\(mobilep\) + *, .\35 u\$\(mobilep\) + *, .\34 u\$\(mobilep\) + *, .\33 u\$\(mobilep\) + *, .\32 u\$\(mobilep\) + *, .\31 u\$\(mobilep\) + * {
    clear: left;
}
.-\31 1u\(mobilep\) {
    margin-left: 91.6667%;
}
.-\31 0u\(mobilep\) {
    margin-left: 83.3333%;
}
.-\39 u\(mobilep\) {
    margin-left: 75%;
}
.-\38 u\(mobilep\) {
    margin-left: 66.6667%;
}
.-\37 u\(mobilep\) {
    margin-left: 58.3333%;
}
.-\36 u\(mobilep\) {
    margin-left: 50%;
}
.-\35 u\(mobilep\) {
    margin-left: 41.6667%;
}
.-\34 u\(mobilep\) {
    margin-left: 33.3333%;
}
.-\33 u\(mobilep\) {
    margin-left: 25%;
}
.-\32 u\(mobilep\) {
    margin-left: 16.6667%;
}
.-\31 u\(mobilep\) {
    margin-left: 8.33333%;
}
}
body {
    background: #f7f7f7 url("images/bg01.png") repeat scroll 0 0;
}
body.is-loading * {
    animation: 0s ease 0s normal none 1 running none !important;
    transition: none 0s ease 0s !important;
}
body, input, select, textarea {
    color: #474747;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
}
a {
    border-bottom: 0 dotted;
    color: #37c0fb;
    text-decoration: none;
    transition: color 0.2s ease-in-out 0s, border-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}
a:hover {
    border-bottom-color: transparent;
    color: #37c0fb;
}
strong, b {
    font-weight: 600;
}
em, i {
    font-style: italic;
}
p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em;
}
h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 600;
    line-height: 1.75em;
    margin-bottom: 1em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}
h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-style: normal;
    font-weight: 300;
}
h2 {
    font-size: 1.75em;
    letter-spacing: -0.025em;
}
h3 {
    font-size: 1.2em;
    letter-spacing: -0.025em;
}
sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}
sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}
hr {
    border: 0 none;
    margin-bottom: 1.5em;
}
blockquote {
    border-left: 0.5em solid #e0e0e0;
    font-style: italic;
    padding: 1em 0 1em 2em;
}
section.special, article.special {
    text-align: center;
}
header p {
    color: #999;
    font-size: 1.25em;
    margin-bottom: 2.25em;
    margin-top: -1.25em;
    position: relative;
}
header.major {
    margin: 0 0 2em;
    text-align: center;
}
header.major h2 {
    font-size: 2.25em;
}
header.major p {
    border-top: 1px solid #e0e0e0;
    font-size: 1.5em;
    letter-spacing: -0.025em;
    margin: 0;
    padding: 1em 0 0;
    position: relative;
    top: -1em;
}
footer {
    margin: 0 0 3em;
}
footer > *:last-child {
    margin-bottom: 0;
}
footer.major {
    padding-top: 3em;
}
input[type="text"], input[type="password"], input[type="email"], textarea {
    -moz-appearance: none;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: inherit;
    display: block;
    outline: 0 none;
    padding: 0.75em;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out 0s;
    width: 100%;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #37c0fb;
}
input[type="text"], input[type="password"], input[type="email"] {
    line-height: 1em;
}
label {
    color: inherit;
    display: block;
    font-weight: 600;
    line-height: 1.75em;
    margin-bottom: 0.5em;
}
:-moz-placeholder {
    color: #999;
}
*::-moz-placeholder {
    color: #999;
}
.formerize-placeholder {
    color: #999;
}
.image {
    border: 0 none;
    border-radius: 5px;
    display: inline-block;
    position: relative;
}
.image img {
    border-radius: 5px;
    display: block;
}
.image.left {
    display: block;
    float: left;
    margin: 0 2em 2em 0;
    position: relative;
    top: 0.25em;
}
.image.left img {
    display: block;
    width: 100%;
}
.image.fit {
    display: block;
}
.image.fit img {
    display: block;
    width: 100%;
}
.image.featured {
    display: block;
    margin: 0 0 2em;
}
.image.featured img {
    display: block;
    width: 100%;
}
.icon {
    position: relative;
    text-decoration: none;
}
.icon::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
.icon > .label {
    display: none;
}
.icon.major {
    background-color: #37c0fb;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/bg01.png");
    border-radius: 100%;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    color: #fff;
    cursor: default;
    display: inline-block;
    height: 5em;
    line-height: 5em;
    margin: 0 0 2em;
    text-align: center;
    width: 5em;
}
.icon.major::before {
    font-size: 36px;
}
ol.default {
    list-style: outside none decimal;
    padding-left: 1.25em;
}
ol.default li {
    padding-left: 0.25em;
}
ul.default {
    list-style: outside none disc;
    padding-left: 1em;
}
ul.default li {
    padding-left: 0.5em;
}
ul.links li {
    line-height: 2.5em;
}
ul.icons {
    cursor: default;
}
ul.icons li {
    display: inline-block;
    line-height: 1em;
    padding-left: 1.5em;
}
ul.icons li:first-child {
    padding-left: 0;
}
ul.icons li a, ul.icons li span {
    border: 0 none;
    font-size: 2em;
}
ul.actions {
    cursor: default;
}
ul.actions:last-child {
    margin-bottom: 0;
}
ul.actions li {
    display: inline-block;
    padding: 0 0 0 1.5em;
}
ul.actions li:first-child {
    padding: 0;
}
ul.actions.vertical li {
    display: block;
    padding: 1.5em 0 0;
}
ul.actions.vertical li:first-child {
    padding: 0;
}
ul.menu li {
    border-left: 1px solid #e0e0e0;
    display: inline-block;
    margin: 0 0 0 1em;
    padding: 0 0 0 1em;
}
ul.menu li:first-child {
    border-left: 0 none;
    margin-left: 0;
    padding-left: 0;
}
table {
    width: 100%;
}
table.default {
    width: 100%;
}
table.default tbody tr {
    border-bottom: 1px solid #e0e0e0;
}
table.default td {
    padding: 0.5em 1em;
}
table.default th {
    font-weight: 600;
    padding: 0.5em 1em;
    text-align: left;
}
table.default thead {
    background-color: #555555;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/bg01.png");
    color: #fff;
}
input[type="submit"], input[type="reset"], input[type="button"], .button {
    -moz-appearance: none;
    background-color: #37c0fb;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/bg01.png");
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    letter-spacing: -0.025em;
    line-height: 2.75em;
    min-width: 9em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
}
input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:hover {
    background-color: #50c8fb;
    color: #fff !important;
}
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active, .button:active {
    background-color: #1eb8fb;
    color: #fff;
}
input.alt[type="submit"], input.alt[type="reset"], input.alt[type="button"], .button.alt {
    background-color: #555555;
    color: #fff;
}
input.alt[type="submit"]:hover, input.alt[type="reset"]:hover, input.alt[type="button"]:hover, .button.alt:hover {
    background-color: #626262;
}
input.alt[type="submit"]:active, input.alt[type="reset"]:active, input.alt[type="button"]:active, .button.alt:active {
    background-color: #484848;
}
input.icon[type="submit"]::before, input.icon[type="reset"]::before, input.icon[type="button"]::before, .button.icon::before {
    margin-right: 0.5em;
}
input.fit[type="submit"], input.fit[type="reset"], input.fit[type="button"], .button.fit {
    width: 100%;
}
input.small[type="submit"], input.small[type="reset"], input.small[type="button"], .button.small {
    font-size: 0.8em;
}
.box.highlight {
    text-align: center;
}
.box.post {
    margin: 0 0 2em;
    position: relative;
}
.box.post::after {
    clear: both;
    content: "";
    display: block;
}
.box.post .inner {
    margin-left: calc(30% + 2em);
}
.box.post .inner > *:last-child {
    margin-bottom: 0;
}
.box.post .image {
    margin: 0;
    width: 30%;
}
#header {
    background-color: #fff;
    background-image: url("images/bg02.png"), url("images/bg02.png"), url("images/bg01.png");
    background-position: left top, left top, left top;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100% 6em, 100% 6em, auto auto;
    padding: 3em 0 0;
    text-align: center;
}
#header h1 {
    margin: 0;
    padding: 0 0 2.75em;
}
#header h1 a {
    border: 0 none;
    font-size: 2.5em;
    letter-spacing: -0.025em;
}
#nav {
    background-color: #1ba0e1;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/bg01.png");
    cursor: default;
    padding: 0;
}
#nav::after {
    background-color: #1ba0e1;
    background-image: url("images/bg01.png");
    content: "";
    display: block;
    height: 0.75em;
    width: 100%;
}
#nav > ul {
    margin: 0;
}
#nav > ul > li {
    display: inline-block;
    margin-left: 1em;
    position: relative;
}
#nav > ul > li a {
    border: 0 none;
    color: #fff;
    display: block;
    font-family: tahoma;
    font-size: 18px;
    padding: 0.5em 0.5em 0.35em;
    text-decoration: none;
}
#nav > ul > li:first-child {
    margin-left: 0;
}
#nav > ul > li:hover a {
    color: #fff;
}
#nav > ul > li.current {
    font-weight: 600;
}
#nav > ul > li.current::before {
    background-color: #1ba0e1;
    background-image: url("images/bg01.png");
    bottom: -0.5em;
    content: "";
    display: block;
    height: 0.75em;
    left: 50%;
    margin-left: -0.375em;
    position: absolute;
    transform: rotateZ(45deg);
    width: 0.75em;
}
#nav > ul > li.current a {
    color: #fff;
}
#nav > ul > li.active a {
    color: #fff;
}
#nav > ul > li.active.current::before {
    opacity: 0;
}
#nav > ul > li > ul {
    display: none;
}
.dropotron {
    background-color: #1ba0e1;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url("images/bg01.png");
    border-radius: 5px;
    box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.5);
    color: #fff;
    min-width: 10em;
    padding: 1em 0;
    text-align: center;
}
.dropotron > li {
    line-height: 2em;
    padding: 0 1.1em 0 1em;
}
.dropotron > li > a {
    border: 0 none;
    color: #fff;
    font-family: tahoma;
    font-size: 16px;
    text-decoration: none;
}
.dropotron > li.active > a, .dropotron > li:hover > a {
    color: yellow;
}
.dropotron.level-0 {
    border-radius: 0 0 5px 5px;
    font-size: 0.9em;
    margin-top: -1px;
    padding-top: 0;
}
#banner {
    background-image: url("../../images/banner.jpg");
    background-position: center center;
    background-size: cover;
    height: 28em;
    position: relative;
    text-align: center;
}
#banner header {
    background: rgba(27, 27, 27, 0.75) none repeat scroll 0 0;
    bottom: 0;
    color: #fff;
    left: 0;
    padding: 1.5em 0;
    position: absolute;
    width: 100%;
}
#banner header h2 {
    display: inline-block;
    font-size: 1.25em;
    margin: 0;
    vertical-align: middle;
}
#banner header h2 em {
    opacity: 0.75;
}
#banner header h2 a {
    border-bottom-color: rgba(255, 255, 255, 0.5);
}
#banner header h2 a:hover {
    border-bottom-color: transparent;
}
#banner header .button {
    margin-left: 1em;
    vertical-align: middle;
}
.wrapper {
    padding: 5em 0 3em;
}
.wrapper.style1 {
    background: #fff none repeat scroll 0 0;
}
.wrapper.style2 {
    background-color: #fff;
    background-image: url("images/bg02.png"), url("images/bg03.png"), url("images/bg01.png");
    background-position: left top, left bottom, left top;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100% 6em, 100% 6em, auto auto;
}
.wrapper.style3 {
    background-color: #1ba0e1;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15)), url("images/bg01.png");
    color: #fff;
}
.wrapper.style3 .button {
    background-color: #fff;
    background-image: linear-gradient(to bottom, #37c0fb, #48d1fc);
    background-image: -moz-linear-gradient(center top , #37c0fb, rgba(0, 0, 0, 0.15));
}
.wrapper.style3 .button:hover {
    color: #fff !important;
}
#cta {
    padding: 3.5em 0;
    text-align: center;
}
#cta header h2 {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}
#cta header .button {
    margin-left: 1em;
    vertical-align: middle;
}
#footer {
    padding: 4em 0 8em;
}
#footer a {
    border-bottom-color: rgba(71, 71, 71, 0.25);
    color: inherit;
}
#footer a:hover {
    border-bottom-color: transparent;
    color: #37c0fb;
}
#footer .container {
    margin-bottom: 4em;
}
#footer .icons {
    margin: 0;
    text-align: center;
}
#footer .icons a {
    color: #999;
}
#footer .icons a:hover {
    color: #474747;
}
#footer .copyright {
    color: #999;
    font-size: 0.9em;
    margin-top: 1.5em;
    text-align: center;
}
@media screen and (max-width: 1680px) {
body, input, select, textarea {
    font-size: 14pt;
    line-height: 1.5em;
}
#banner {
    height: 24em;
}
}
@media screen and (max-width: 1280px) {
body, input, select, textarea {
    font-size: 13pt;
    line-height: 1.5em;
}
ol.default {
    list-style: outside none decimal;
    padding-left: 1.25em;
}
ol.default li {
    padding-left: 0.25em;
}
ul.icons li a, ul.icons li span {
    font-size: 1.5em;
}
#header {
    padding: 2em 0 0;
}
#header h1 {
    padding: 0 0 1.75em;
}
#banner {
    height: 20em;
}
.wrapper {
    padding: 3em 0 1em;
}
#cta {
    padding: 2em 0;
}
#footer {
    padding: 3em 0;
}
#footer .container {
    margin-bottom: 1em;
}
}
@media screen and (max-width: 980px) {
body, input, select, textarea {
    font-size: 12pt;
    line-height: 1.5em;
}
}
#navPanel, #titleBar {
    display: none;
}
@media screen and (max-width: 840px) {
html, body {
    overflow-x: hidden;
}
body, input, select, textarea {
    font-size: 13pt;
}
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
}
header p {
    margin-top: -0.75em;
}
header.major {
    margin: 0 0 2em;
    text-align: center;
}
header.major h2 {
    font-size: 1.75em;
}
header.major p {
    font-size: 1.25em;
    top: -0.25em;
}
.box.highlight {
    padding-left: 7em;
    position: relative;
    text-align: left;
}
.box.highlight i {
    left: 0;
    margin: 0;
    position: absolute;
    top: 0.25em;
}
.box.post .inner {
    margin-left: calc(20% + 2em);
}
.box.post .image {
    width: 20%;
}
#header {
    display: none;
}
#banner {
    height: 20em;
}
#banner header h2 {
    display: block;
}
#banner header .button {
    margin: 1em 0 0;
}
#cta {
    padding: 1.5em 0;
}
#cta header h2 {
    display: block;
}
#cta header .button {
    margin: 1em 0 0;
}
#footer {
    text-align: center;
}
#footer .container {
    margin-bottom: 4em;
}
#page-wrapper {
    backface-visibility: hidden;
    padding-bottom: 1px;
    padding-top: 44px;
    transition: transform 0.5s ease 0s;
}
#titleBar {
    backface-visibility: hidden;
    background-color: #333;
    background-image: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url("images/bg01.png");
    box-shadow: 0 4px 0 0 #37c0fb;
    display: block;
    height: 44px;
    left: 0;
    line-height: 44px;
    position: fixed;
    top: 0;
    transition: transform 0.5s ease 0s;
    width: 100%;
    z-index: 10001;
}
#titleBar .title {
    color: #fff;
    display: block;
    font-weight: 600;
    position: relative;
    text-align: center;
    z-index: 1;
}
#titleBar .title em {
    font-style: normal;
    font-weight: 300;
}
#titleBar .toggle {
    border: 0 none;
    height: 60px;
    left: 0;
    position: absolute;
    text-decoration: none;
    top: 0;
    width: 80px;
    z-index: 2;
}
#titleBar .toggle::before {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}
#titleBar .toggle::before {
    color: #fff;
     content: '\f0c9';
    display: block;
    height: 44px;
    opacity: 0.5;
    text-align: center;
    width: 44px;
}
#titleBar .toggle:active::before {
    opacity: 0.75;
}
#navPanel {
    backface-visibility: hidden;
    background-color: #1f1f1f;
    background-image: -moz-linear-gradient(left center , rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.15)), url("images/bg01.png");
    box-shadow: -1px 0 3px 0 rgba(0, 0, 0, 0.5) inset;
    display: block;
    height: 100%;
    left: 0;
    overflow-y: auto;
    position: fixed;
    top: 0;
    transform: translateX(-275px);
    transition: transform 0.5s ease 0s;
    width: 275px;
    z-index: 10002;
}
#navPanel .link {
    border-bottom: 0 none;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    color: #888;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0 1em;
    text-decoration: none;
}
#navPanel .link:first-child {
    border-top: 0 none;
}
#navPanel .link.depth-0 {
    color: #fff;
}
#navPanel .link .indent-1 {
    display: inline-block;
    width: 1em;
}
#navPanel .link .indent-2 {
    display: inline-block;
    width: 2em;
}
#navPanel .link .indent-3 {
    display: inline-block;
    width: 3em;
}
#navPanel .link .indent-4 {
    display: inline-block;
    width: 4em;
}
#navPanel .link .indent-5 {
    display: inline-block;
    width: 5em;
}
body.navPanel-visible #page-wrapper {
    transform: translateX(275px);
}
body.navPanel-visible #titleBar {
    transform: translateX(275px);
}
body.navPanel-visible #navPanel {
    transform: translateX(0px);
}
}
@media screen and (max-width: 736px) {
body, input, select, textarea {
    font-size: 11pt;
    line-height: 1.35em;
}
h2 {
    font-size: 1.25em;
    letter-spacing: 0;
    line-height: 1.35em;
}
h3 {
    font-size: 1em;
    letter-spacing: 0;
    line-height: 1.35em;
}
header p {
    font-size: 1em;
    margin-top: -0.5em;
}
header.major {
    padding: 0 20px;
}
header.major h2 {
    font-size: 1.25em;
}
header.major p {
    font-size: 1em;
    margin-top: 1.25em;
    top: 0;
}
ul.menu li {
    border: 0 none;
    display: block;
    line-height: 2em;
    margin: 0;
    padding: 0;
}
#banner {
    height: 18em;
}
.wrapper {
    padding: 2em 0 1px;
}
}
@media screen and (max-width: 480px) {
ul.actions li {
    display: block;
    padding: 1.5em 0 0;
}
ul.actions li:first-child {
    padding: 0;
}
.icon.major {
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    height: 4em;
    line-height: 4em;
    width: 4em;
}
.icon.major::before {
    font-size: 24px;
}
input[type="submit"], input[type="reset"], input[type="button"], .button {
    display: block;
    width: 100%;
}
.box.highlight {
    padding-left: calc(4em + 30px);
}
.box.post .inner {
    margin-left: calc(30% + 20px);
}
.box.post .image {
    width: 30%;
}
#banner {
    height: 20em;
}
#banner header {
    padding: 20px;
}
.wrapper {
    padding: 2em 20px 1px;
}
#cta {
    padding: 20px;
}
#footer {
    padding: 2em 20px;
    text-align: left;
}
}
body {
}
#header {
    background-color: #37c0fb;
    background-image: url("images/heritage.jpg");
    /*background-image: -moz-linear-gradient(center top , transparent, rgba(0, 0, 0, 0.15)), url("images/heritage.jpg");*/
    /*background-image: url("images/banner_pdam.png");
    #background-image: -moz-linear-gradient(center top , transparent, rgba(0, 0, 0, 0.15)), url("images/banner_pdam.png");*/
    color: #fff;
}
#header h1 {
    padding: 0.1em 0 0;
}
#header h1 a {
    color: #37c0fb;
    font-family: tahoma;
    font-size: 33px;
    margin: 0;
    padding: 0;
    text-shadow: 3px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
#header h1 a img {
    margin-bottom: -15px;
    margin-top: -40px;
    width: 79px;
}
#nav.sticky {
    display: block;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 1000;
}
@media screen and (max-width: 840px) {
#titleBar .title h1 a img {
    width: 30px;
}
}
@media screen and (max-width: 736px) {
#titleBar .title h1 a img {
    width: 30px;
}
}
@media screen and (max-width: 480px) {
#titleBar .title h1 a img {
    width: 30px;
}
}
#banner {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: block;
    height: auto;
}
#banner header {
    background: rgba(200, 200, 255, 0.45) none repeat scroll 0 0;
    bottom: 0;
    color: #00f;
    left: 0;
    padding: 10px 0;
    position: absolute;
    width: 100%;
}
#nav ul li {
    text-align: left;
}
.dropotron > li {
    text-align: left;
}
.box-override {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.1);
    padding: 1em 1.5em 1.5em;
}
.box-override p {
    text-align: justify;
}
.pagination .pages {
    display: inline-block;
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 700;
}
.pagination .pages span {
    display: inline-block;
    margin: 0 0.4em 0 0;
    text-align: center;
    width: 1.5em;
}
.pagination .pages a {
    background-color: #e8e8e8;
    background-image: url("images/bg02.png");
    border-bottom: medium none;
    border-radius: 0.4em;
    box-shadow: 0 0.075em 0.25em 0 rgba(0, 0, 0, 0.1) inset;
    color: #565656;
    cursor: pointer;
    display: inline-block;
    margin: 0 0.4em 0 0;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out 0s;
}
.pagination .pages a:hover {
    background-color: #dadada;
}
.pagination .pages a.active {
    background-color: #364050;
    box-shadow: none;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 737px) {
.pagination {
    padding: 3em 0 0;
}
.pagination .previous {
    margin-right: 0.6em;
}
.pagination .next {
    margin-left: 0.2em;
}
.pagination .pages a {
    height: 2.75em;
    line-height: 2.75em;
    width: 2.75em;
}
.pagination .button {
    height: 2.75em;
    line-height: 2.75em;
    padding-bottom: 0;
    padding-top: 0;
}
}
#below-header {
    border-bottom: 2px solid #565656;
}
#below-header.sticky {
    bottom: 0;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#searchform input {
    color: #37c0fb;
    font-size: 0.8em;
}
#searchform button {
    background-color: #37c0fb;
    background-image: -moz-linear-gradient(center top , transparent, rgba(0, 0, 0, 0.15));
    color: #fff;
}
#featured-heading {
    padding-bottom: 5px;
    padding-top: 25px;
    text-align: center;
}
#featured-heading h1, #featured-heading h2, #featured-heading h3, #featured-heading h4, #featured-heading h5, #featured-heading h6 {
    color: inherit;
    font-weight: 600;
    line-height: inherit;
    margin-bottom: inherit;
}
#featured-heading p {
    margin: 0;
}
.padding-left-5 {
    padding-left: 5px;
}
.padding-left-15 {
    padding-left: 15px;
}
.padding-right-15 {
    padding-right: 15px;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.header-mainlist {
}
.mainlist {
    margin-bottom: 1em;
}
.mainlist-parent-title, .sidelist-parent-title {
    -moz-appearance: none;
    background-color: #37c0fb;
    background-image: -moz-linear-gradient(center top , transparent, rgba(0, 0, 0, 0.15));
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    letter-spacing: -0.025em;
    line-height: 2.75em;
    margin-bottom: 2px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out 0s, color 0.2s ease-in-out 0s, box-shadow 0.2s ease-in-out 0s;
    width: 100%;
}
.mainlist-parent-title {
    margin-bottom: 5px;
    padding: 0 0.5em;
}
.mainlist-title h6 {
    margin-bottom: 0.1em;
}
.mainlist-content {
    border-top: 1px dotted #37c0fb;
    margin-top: 5px;
    padding-top: 5px;
    text-align: justify;
}
.mainlist-content::first-letter {
    color: #37c0fb;
    float: left;
    font-size: 500%;
    font-style: italic;
    margin: 5px;
    text-shadow: 3px 3px 0 #666, -1px -1px 0 #666, 1px -1px 0 #666, -1px 1px 0 #666, 1px 1px 0 #666;
}
.wrapper-condensed {
    padding: 2em 0 1em;
}
@media screen and (max-width: 1280px) {
.wrapper-condensed {
    padding: 2em 0 1em;
}
}
@media screen and (max-width: 736px) {
.wrapper-condensed {
    padding: 1em 0 1px;
}
}
@media screen and (max-width: 480px) {
.wrapper-condensed {
    padding: 1em 20px 1px;
}
}
.post-date {
    margin-left: 15px;
    margin-right: -35px;
    padding-top: 5px;
    text-align: center;
}
.post-date .postday {
    background-color: #37c0fb;
    border-top: 1px solid #364050;
    color: #fff;
    font-weight: bolder;
}
.post-date .postday, .post-date .postmonth {
    border-bottom: 1px solid #364050;
    border-left: 1px solid #364050;
    border-right: 1px solid #364050;
    font-size: 8pt;
    line-height: 9pt;
    width: 100%;
}
.post-date .postdate {
    border-left: 1px solid #364050;
    border-right: 1px solid #364050;
    font-size: 12pt;
    line-height: 13pt;
    width: 100%;
}
.post-date .postyear {
    border-bottom: 1px solid #364050;
    border-left: 1px solid #364050;
    border-right: 1px solid #364050;
    font-size: 9pt;
    line-height: 10pt;
    width: 100%;
}
.post-date .posttime {
    color: #0090c5;
    font-size: 10pt;
    line-height: 11pt;
    margin-top: 5px;
}
.pagination-sys {
    border-radius: 4px;
    box-sizing: border-box;
    color: #333;
    display: inline-block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 2px 0;
    padding-left: 0;
}
.pagination-sys > li {
    box-sizing: border-box;
    color: #333;
    display: inline;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
.pagination-sys > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    margin-left: 0;
}
.pagination-sys > .disabled > a, .pagination-sys > .disabled > a:focus, .pagination-sys > .disabled > a:hover, .pagination-sys > .disabled > span, .pagination-sys > .disabled > span:focus, .pagination-sys > .disabled > span:hover {
    background-color: #fff;
    border-color: #ddd;
    color: #777;
    cursor: not-allowed;
}
.pagination-sys > li > a, .pagination-sys > li > span {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #337ab7;
    float: left;
    line-height: 1.42857;
    margin-left: -1px;
    padding: 6px 12px;
    position: relative;
    text-decoration: none;
}
.pagination-sys > .active > a, .pagination-sys > .active > a:focus, .pagination-sys > .active > a:hover, .pagination-sys > .active > span, .pagination-sys > .active > span:focus, .pagination-sys > .active > span:hover {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
    cursor: default;
    z-index: 2;
}
.wrapper-condensed.style1 {
    background: #fff none repeat scroll 0 0;
}
.padding-0 {
    padding: 0 0 5px;
}
.container-compact {
    margin-bottom: 0;
    padding: 3px;
    padding-top: 0;
    padding-bottom: 0;
}
ul.breadcrumb {
    display: block;
    margin: 0 0 2em;
}
ul.breadcrumb li {
    display: inline-block;
    padding: 5px;
}
.meta-author {
    font-size: 82%;
    font-style: italic;
}
a.sidelist-title {
}
a.sidelist-title:hover {
    color: #fff;
}
.article-content {
    overflow: hidden;
}
.article-content img {
    max-width: 100%;
}
input[type="tel"] {
    -moz-appearance: none;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    color: inherit;
    display: block;
    outline: 0 none;
    padding: 0.75em;
    text-decoration: none;
    transition: border-color 0.2s ease-in-out 0s;
    width: 100%;
}
input[type="tel"]:focus {
    border-color: #37c0fb;
}
input[type="tel"] {
    line-height: 1em;
}
label {
    color: inherit;
    display: block;
    font-weight: 600;
    line-height: 1.75em;
    margin-bottom: 0.5em;
}
.flash-wrapper {
    background-color: #fff;
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
}
.flash-wrapper .container {
    margin-bottom: 0;
    margin-top: 0;
    padding: 5px;
}
.flash-wrapper .alert, .front-alert {
    border: 1px solid transparent;
    border-radius: 4px;
    line-height: 1;
    margin-bottom: 15px;
    padding: 15px;
}
.front-alert {
    margin-bottom: 3px;
    margin-top: 3px;
    padding: 3px 3px 3px 15px;
}
.flash-wrapper .alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.flash-wrapper .alert-danger, .front-alert-danger, input.input-danger, textarea.input-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
input.input-danger, textarea.input-danger {
    background-color: #fffdfd;
}

@keyframes redblink {
  0%, 100% {
    color: yellow;
  }
  50% {
    color: red;
  }
}

a.red-blink{
    animation: redblink 3s infinite;
}