<div id="banner-wrapper">
                <div id="banner" class="box container">
                    <div class="row">
                        <div class="7u 12u(medium)">
                            <h2>Hi. This is Verti.</h2>
                            <p>It's a free responsive site template by HTML5 UP</p>
                        </div>
                        <div class="5u 12u(medium)">
                            <ul>
                                <li><a href="#" class="button big icon fa-arrow-circle-right">Ok let's go</a></li>
                                <li><a href="#" class="button alt big icon fa-question-circle">More info</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>