/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01 Des 15, 10:18:02
    Author     : ino
*/
/*.sm-simple-clean a,*/
body {
    font-family: 'Open Sans'
}
#sysadmin_main_content  .posts{
	padding-bottom: 1em;
}
.responsive-title{display: none}
#side-menu > li > ul > li > a > span.fa-fw{
	font-size: 1.5em;
}
#side-menu > li > a > span.fa-fw {
	font-size: 1.5em;
}
#side-menu > li > ul > li > a{
	padding-left: 50px;

}
#side-menu > li > a {
	padding-left: 55px;
}
#side-menu > li > ul > li > a > span.fa-fw{
	position: absolute;
	margin-left: -30px;
	margin-top: -1px;

}
#side-menu > li > a > span.fa-fw{
	position: absolute;
	margin-left: -35px;
	margin-top: 5px;

}
.sidebar{
	overflow: hidden;
	border: none;
}
#side-menu > li > a > span.fa-fw.fa-mgmin1{
	margin-top: 0px;
}
.sm-simple-clean{
	border: none;
	box-shadow: none;
}