<link href="<?=BASE_URL.'/'?>node_modules/nunito-fontface/css/nunito/nunito-fontface.css" rel="stylesheet"  crossorigin="anonymous">
   
  <script type="text/javascript">
  <?php
  	$scripts = ['ServiceButtonSm.js','FormPengaduan.js','PengaduanWeb.js','PageBanner.js'];//
  	$component_path = realpath(__DIR__.'/../../../../../../webroot/com');
  	$str = '';
  	foreach($scripts as $filename){
  		$str .= file_get_contents($component_path . '/' .$filename) . "\n";
  	}
  	$str .= "ReactDOM.render(<React.StrictMode> <PengaduanWeb is_ajax={true}/> </React.StrictMode>, document.getElementById('main'));"; 

  	?>
    bable_scripts_input = <?=json_encode($str)?>;
    var input = bable_scripts_input;
	var output = Babel.transform(input, { presets:['react'],plugins: [
		["proposal-class-properties", { "loose": true }]
	]}).code;
	<? 

   $featured_contents = $this->get('featured_contents');
    $sidelist_right = $this->get('sidelist_right');
    // $top_mainlist = $this->get('top_mainlist',[]);
    $article = $this->get('article');
    // print_r(json_encode($featured_contents));
    ?>
    app_data = {
        menu : <?=json_encode($syscm_main_nav,JSON_PRETTY_PRINT)?>,
        carousel : <?=json_encode($featured_contents,JSON_PRETTY_PRINT)?>,
        sidelist_right : <?=json_encode($sidelist_right,JSON_PRETTY_PRINT)?>,
        article : <?=json_encode($article,JSON_PRETTY_PRINT)?>,
        formatted_slug : '<?=$this->get('segment_key')?>',
    };
    document.title = 'Pengaduan Pelanggan - PERUMDAM TKR';
	eval(output)
  </script>