<link href="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.css" rel="stylesheet"  crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/3.6.2/plyr.min.js" crossorigin="anonymous"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js" crossorigin="anonymous"></script> 

  <script type="text/javascript">
  <?php
  	$scripts = ['MyCarousel.js','RunningText.js','InfoPerumdam.js','ServiceButton.js','MyNews.js','TentangKami.js','MyGalery.js','PerumdamtkrWeb.js'];//
  	$component_path = realpath(__DIR__.'/../../../../../../webroot/com');
  	$str = '';
  	foreach($scripts as $filename){
  		$str .= file_get_contents($component_path . '/' .$filename) . "\n";
  	}
  	$str .= "ReactDOM.render(<React.StrictMode> <PerumdamtkrWeb is_ajax={true}/> </React.StrictMode>, document.getElementById('main'));"; 

  	?>
    bable_scripts_input = <?=json_encode($str)?>;
    var input = bable_scripts_input;
	var output = Babel.transform(input, { presets:['react'],plugins: [
		["proposal-class-properties", { "loose": true }]
	]}).code;
	<? 

    $featured_contents = $this->get('featured_contents');
  $sidelist_right = $this->get('sidelist_right');
  $sidelist = $this->get('sidelist');
  $top_mainlist = $this->get('top_mainlist');
  $homepage_popup_content = $this->get('homepage_popup_content');
  ?>
  app_data = {
    menu : <?=json_encode($syscm_main_nav,JSON_PRETTY_PRINT)?>,
    carousel : <?=json_encode($featured_contents,JSON_PRETTY_PRINT)?>,
    sidelist_right : <?=json_encode($sidelist_right,JSON_PRETTY_PRINT)?>,
    top_mainlist : <?=json_encode($top_mainlist,JSON_PRETTY_PRINT)?>,
    sidelist : <?=json_encode($sidelist,JSON_PRETTY_PRINT)?>,
    homepage_popup_content : <?=json_encode($homepage_popup_content,JSON_PRETTY_PRINT)?>,
  }
    document.title = 'Beranda - PERUMDAM TKR';
	eval(output)
  </script>