
  <script type="text/javascript">
  <?php
    $scripts = ['RelatedContent.js','KantorLayanan.js','PerumdamtkrWebKantorLayanan.js','PageBanner.js'];//
    $component_path = realpath(__DIR__.'/../../../../../../webroot/com');
    $str = '';
    foreach($scripts as $filename){
      $str .= file_get_contents($component_path . '/' .$filename) . "\n";
    }
    $str .= "ReactDOM.render(<React.StrictMode> <PerumdamtkrWebKantorLayanan is_ajax={true}/> </React.StrictMode>, document.getElementById('main'));"; 

    ?>
    bable_scripts_input = <?=json_encode($str)?>;
    var input = bable_scripts_input;
  var output = Babel.transform(input, { presets:['react'],plugins: [
    ["proposal-class-properties", { "loose": true }]
  ]}).code;
  <? 

    $featured_heading = $this->get('featured_heading');
    $sidelist = $this->get('sidelist');
    $mainlist = $this->get('mainlist');
    $formatted_slug = $this->get('formatted_slug');
    $article = $this->get('article');
    $syscm_contents = $this->get('syscm_contents');
    // print_r(json_encode($featured_contents));
    ?>
    app_data = {
        pagination : '<?=$pagination?>',
        menu : <?=json_encode($syscm_main_nav,JSON_PRETTY_PRINT)?>,
        featured_heading : <?=json_encode($featured_heading,JSON_PRETTY_PRINT)?>,
        sidelist : <?=json_encode($sidelist,JSON_PRETTY_PRINT)?>,
        mainlist : <?=json_encode($mainlist,JSON_PRETTY_PRINT)?>,
        article : <?=json_encode($article,JSON_PRETTY_PRINT)?>,
        syscm_contents : <?=json_encode($syscm_contents,JSON_PRETTY_PRINT)?>,
        formatted_slug : '<?=$this->get('segment_key')?>',
        active_id : '<?=$this->params['url']['active']?>'
    };
    app_data.mainlist.latest = app_data.mainlist.list;

    try{
      if(app_data.active_id.length < 4){
        app_data.active_id = app_data.mainlist.latest[0].content_id;
      }
    }catch(e){
      console.log(e);
    }
    document.title = 'Layanan Informasi / <?=$article['title']?> - PERUMDAM TKR';
  eval(output)
  </script>