
  <script type="text/javascript">
  <?php
  	$scripts = ['Konsultasi.js','PerumdamtkrWebKonsultasi.js','PageBanner.js'];//
  	$component_path = realpath(__DIR__.'/../../../../../../webroot/com');
  	$str = '';
  	foreach($scripts as $filename){
  		$str .= file_get_contents($component_path . '/' .$filename) . "\n";
  	}
  	$str .= "ReactDOM.render(<React.StrictMode> <PerumdamtkrWebKonsultasi is_ajax={true}/> </React.StrictMode>, document.getElementById('main'));"; 

  	?>
    bable_scripts_input = <?=json_encode($str)?>;
    var input = bable_scripts_input;
	var output = Babel.transform(input, { presets:['react'],plugins: [
		["proposal-class-properties", { "loose": true }]
	]}).code;
 

    app_data = {
        list : <?=json_encode($list)?>,
        formatted_slug: '<?=$this->get('segment_key')?>',
        article:{title:'Pojok Konsultasi'}
    }
    document.title = 'Pojok Konsultasi - PERUMDAM TKR';
	eval(output)
  </script>