
  <script type="text/javascript">
  <?php
  	$scripts = ['SearchResult.js','Breadcrumbs.js','MyNews.js','PerumdamtkrWebSearch.js'];//
  	$component_path = realpath(__DIR__.'/../../../../../../webroot/com');
  	$str = '';
  	foreach($scripts as $filename){
  		$str .= file_get_contents($component_path . '/' .$filename) . "\n";
  	}
    
        
   
  	$str .= "ReactDOM.render(<React.StrictMode> <PerumdamtkrWebSearch is_ajax={true}/> </React.StrictMode>, document.getElementById('main'));"; 

  	?>
    bable_scripts_input = <?=json_encode($str)?>;
    var input = bable_scripts_input;
	var output = Babel.transform(input, { presets:['react'],plugins: [
		["proposal-class-properties", { "loose": true }]
	]}).code;
	<? 
    $article = $this->get('article',array());
    $featured_contents = $this->get('featured_contents');
    $sidelist_right = $this->get('sidelist_right');
    $top_mainlist = $this->get('top_mainlist');
    $article = $this->get('article');
    $breadcrumbs = $this->get('breadcrumbs');
    $content_id = $this->get('content_id');
    $data_list = $this->get('data_list', array());
    $searchq = $this->get('searchq', __d('syscm', 'missing keyword...'));
    // print_r(json_encode($featured_contents));
    ?>
    app_data = {
        menu : <?=json_encode($syscm_main_nav)?>,
        carousel : <?=json_encode($featured_contents)?>,
        sidelist_right : <?=json_encode($sidelist_right)?>,
        top_mainlist : <?=json_encode($mainlist)?>,
        article : <?=json_encode($article)?>,
        article_breadcrumbs : <?=json_encode($breadcrumbs)?>,
        content_id : <?=json_encode($content_id)?>,
        data_list : <?=json_encode($data_list)?>,
        searchq : '<?=$searchq?>',
        formatted_slug : '<?=empty($article)?'404': $this->get('segment_key')?>',
        pagination_counter : '<?='<p>'.$this->Paginator->counter(array(
            'format' => __d('sysadmin','Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
        )).'</p>'?>',
        pagination_link : '<?=$this->element('paginator', array(), array('plugin' => 'syscm'))?>',
        search_no_items_message : `<p><?php echo __d('syscm', 'No matching content found. Please refine your search.');?></p>`
    };
    // console.log(atob(app_data.pagination));
    document.title = 'Pengumuman - PERUMDAM TKR';
	eval(output)
  </script>