body{
	overflow-x:hidden;
	font-family: 'Droid Sans', sans-serif;
	/* background:url('../img/bg.png')top left repeat fixed; */
	background:#e0e0e0;
}
body.body-print{
	
	background:none;
}
@media print {
    .no-print {
        display: none;
    }
}
#page-wrapper {
    background-color: #FFF;
}
.page-boxed {
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1);
}
.no-padding{
	padding:0px;
}
.padding-10{
	padding-left:10px;
	padding-right:10px;
}
.no-radius{
	border-radius:0px;
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
}
.post-date > span{
	padding:5px;
}
.post-date > .post-time{
	margin-left:40px;
}
.mainlist-content,.mainlist-title{
	padding:10px;
}
.post-date{
	background: #3bafda;
	padding: 10px;
}
.post-time{
	font-style: italic; 
}
.post-date-calendar{
	position: absolute !important;
	top: -5px;
	left: 10px;
	color:#3bafda;
}
form > .row > [class*="col-"]{
	margin-bottom: 10px;
}
#nav{
	border-bottom: 4px solid rgba(0, 0, 0, 0.2);
}
#nav.sticky {
    display: block;
    left: 0px;
    position: fixed;
    text-align: center;
    top: 0px;
    width: 100%;
    z-index: 1000;
	box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.brand{
	margin-left:-5%;
	font-size:2em;
}
#nav > .container-fluid >.navbar-header > .navbar-brand{
	display:none;
}
#nav.sticky > .container-fluid >.navbar-header > .navbar-brand{
	display:block;
}

.navbar-brand {
  padding: 0px; /* firefox bug fix */
}
.navbar-brand>img {
  height: 100%;
  padding: 5px; /* firefox bug fix */
  width: auto;
}

.btn-search{
	background:rgba(0, 0, 0, 0.5);
}

.wrapper > .container{
	padding-left:5px;
	padding-right:5px;
}
.fit-margin{
	margin-left:-10px;
	margin-right:-10px;
}
.header-button-sm{
	background-color: #3BAFDA;
	border-color: #3BAFDA;
	margin-bottom: 0px;
}

.header-button-sm  a{
	color:rgba(0, 0, 0, 0.5);
} 

.trans{
	color:rgba(255, 255, 255, 0.5);
}

.trans:hover{
	color:rgba(255, 255, 255, 1);
}

.trans > i.fa-inverse{
	color:rgba(0, 0, 0, 0.5);
}

.header{
	background-image: url("/files/media/1451666366-1451664915-bannpdam.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right;
}
h2{
	font-size:2em;
}
.header-comment{
	font-size:1.5em;
}
.footer{
	color:#FFF;
}
#below-header{
	border-bottom:4px solid #3BAFDA;
}
.hide-over-y{
	overflow-x:hidden;
}

@keyframes redblink {
  0%, 100% {
    color: yellow;
  }
  50% {
    color: red;
  }
}

a.tile-stats.tile-green.red-blink > h3{
    animation: redblink 3s infinite;
}
.sss{
min-height:200px;
}
/*
BOOTSTRAP OVERRIDE
*/

.modal {
    z-index: 1500;
}

blockquote{
	font-size:1em;
}
.container{
 padding-right:10px;
 padding-left:10px;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #FFF;
    background-color: #3BAFDA;
    border-color: #3BAFDA;
}
.icon {
    color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 5px;
    bottom: 5px;
    z-index: 1;
}

.icon i {
    font-size: 50px;
    line-height: 0;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}

.panel-heading {
    position: relative;
    overflow: hidden;
}

.panel,.panel-heading{
 border-radius:0px !important;
}

.row {
    margin-right: -10px;
    margin-left: -10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
}

.navbar-default {
    background-color: #3BAFDA;
	color: #FFF;
    border-color: #3BAFDA;
	margin-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
    color: #FFF;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #FFF;
    background-color:rgba(0, 0, 0, 0.2);
}
@media (min-width: 768px) {
  .navbar-right {
		float: right !important;
		margin-right: 0px!important;
	}
}
	
/*
TILE 
*/

.tile-stats {
  position: relative;
  display: block;
  background: #303641;
  padding: 10px;
  margin: 3px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 5px;
  -moz-background-clip: padding;
  border-radius: 5px;
  background-clip: padding-box;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
.tile-stats:hover {
  background: #252a32;
}
.tile-stats .icon {
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  right: 5px;
  bottom: 5px;
  z-index: 1;
}
.tile-stats .icon i {
  font-size: 100px;
  line-height: 0;
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.tile-stats .icon i:before {
  margin: 0;
  padding: 0;
  line-height: 0;
}
.tile-stats .num,
.tile-stats h3,
.tile-stats p {
  position: relative;
  color: #ffffff;
  z-index: 5;
  margin: 0;
  padding: 0;
}
.tile-stats .num {
  font-size: 38px;
  font-weight: bold;
}
.tile-stats h3 {
  font-size: 18px;
  margin-top: 5px;
}
.tile-stats p {
  font-size: 11px;
  margin-top: 5px;
}
.tile-stats.tile-red {
  background: #f56954;
}
.tile-stats.tile-red:hover {
  background: #f4543c;
}
.tile-stats.tile-red .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-red .num,
.tile-stats.tile-red h3,
.tile-stats.tile-red p {
  color: #ffffff;
}
.tile-stats.tile-green {
  background: #00a65a;
}
.tile-stats.tile-green:hover {
  background: #008d4c;
}
.tile-stats.tile-green .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-green .num,
.tile-stats.tile-green h3,
.tile-stats.tile-green p {
  color: #ffffff;
}
.tile-stats.tile-blue {
  background: #0073b7;
}
.tile-stats.tile-blue:hover {
  background: #00639e;
}
.tile-stats.tile-blue .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-blue .num,
.tile-stats.tile-blue h3,
.tile-stats.tile-blue p {
  color: #ffffff;
}
.tile-stats.tile-aqua {
  background: #00c0ef;
}
.tile-stats.tile-aqua:hover {
  background: #00acd6;
}
.tile-stats.tile-aqua .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-aqua .num,
.tile-stats.tile-aqua h3,
.tile-stats.tile-aqua p {
  color: #ffffff;
}
.tile-stats.tile-cyan {
  background: #00b29e;
  width:100%;
  text-align:left;
}
.tile-stats.tile-cyan:hover {
  background: #009987;
}
.tile-stats.tile-cyan .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-cyan .num,
.tile-stats.tile-cyan h3,
.tile-stats.tile-cyan p {
  color: #ffffff;
}
.tile-stats.tile-purple {
  background: #ba79cb;
}
.tile-stats.tile-purple:hover {
  background: #b167c4;
}
.tile-stats.tile-purple .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-purple .num,
.tile-stats.tile-purple h3,
.tile-stats.tile-purple p {
  color: #ffffff;
}
.tile-stats.tile-pink {
  background: #ec3b83;
}
.tile-stats.tile-pink:hover {
  background: #ea2474;
}
.tile-stats.tile-pink .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-pink .num,
.tile-stats.tile-pink h3,
.tile-stats.tile-pink p {
  color: #ffffff;
}
.tile-stats.tile-orange {
  background: #ffa812;
}
.tile-stats.tile-orange:hover {
  background: #f89d00;
}
.tile-stats.tile-orange .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-orange .num,
.tile-stats.tile-orange h3,
.tile-stats.tile-orange p {
  color: #ffffff;
}
.tile-stats.tile-brown {
  background: #6c541e;
}
.tile-stats.tile-brown:hover {
  background: #584418;
}
.tile-stats.tile-brown .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-brown .num,
.tile-stats.tile-brown h3,
.tile-stats.tile-brown p {
  color: #ffffff;
}
.tile-stats.tile-plum {
  background: #701c1c;
}
.tile-stats.tile-plum:hover {
  background: #5c1717;
}
.tile-stats.tile-plum .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-plum .num,
.tile-stats.tile-plum h3,
.tile-stats.tile-plum p {
  color: #ffffff;
}
.tile-stats.tile-gray {
  background: #f5f5f5;
}
.tile-stats.tile-gray:hover {
  background: #e8e8e8;
}
.tile-stats.tile-gray .icon {
  color: rgba(0, 0, 0, 0.1);
}
.tile-stats.tile-gray .num,
.tile-stats.tile-gray h3,
.tile-stats.tile-gray p {
  color: #8f8f8f;
}
.tile-stats.tile-white {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white .num,
.tile-stats.tile-white h3,
.tile-stats.tile-white p {
  color: #303641;
}
.tile-stats.tile-white:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-red {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-red:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-red .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-red .num,
.tile-stats.tile-white-red h3,
.tile-stats.tile-white-red p {
  color: #f56954;
}
.tile-stats.tile-white-red:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-green {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-green:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-green .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-green .num,
.tile-stats.tile-white-green h3,
.tile-stats.tile-white-green p {
  color: #00a65a;
}
.tile-stats.tile-white-green:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-blue {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-blue:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-blue .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-blue .num,
.tile-stats.tile-white-blue h3,
.tile-stats.tile-white-blue p {
  color: #0073b7;
}
.tile-stats.tile-white-blue:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-aqua {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-aqua:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-aqua .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-aqua .num,
.tile-stats.tile-white-aqua h3,
.tile-stats.tile-white-aqua p {
  color: #00c0ef;
}
.tile-stats.tile-white-aqua:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-cyan {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-cyan:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-cyan .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-cyan .num,
.tile-stats.tile-white-cyan h3,
.tile-stats.tile-white-cyan p {
  color: #00b29e;
}
.tile-stats.tile-white-cyan:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-purple {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-purple:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-purple .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-purple .num,
.tile-stats.tile-white-purple h3,
.tile-stats.tile-white-purple p {
  color: #ba79cb;
}
.tile-stats.tile-white-purple:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-pink {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-pink:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-pink .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-pink .num,
.tile-stats.tile-white-pink h3,
.tile-stats.tile-white-pink p {
  color: #ec3b83;
}
.tile-stats.tile-white-pink:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-orange {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-orange:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-orange .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-orange .num,
.tile-stats.tile-white-orange h3,
.tile-stats.tile-white-orange p {
  color: #ffa812;
}
.tile-stats.tile-white-orange:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-brown {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-brown:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-brown .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-brown .num,
.tile-stats.tile-white-brown h3,
.tile-stats.tile-white-brown p {
  color: #6c541e;
}
.tile-stats.tile-white-brown:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-plum {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-plum:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-plum .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-plum .num,
.tile-stats.tile-white-plum h3,
.tile-stats.tile-white-plum p {
  color: #701c1c;
}
.tile-stats.tile-white-plum:hover {
  background-color: #fafafa;
}
.tile-stats.tile-white-gray {
  background: #ffffff;
  border: 1px solid #ebebeb;
}
.tile-stats.tile-white-gray:hover {
  background: #f2f2f2;
}
.tile-stats.tile-white-gray .icon {
  color: #f2f2f2;
}
.tile-stats.tile-white-gray .num,
.tile-stats.tile-white-gray h3,
.tile-stats.tile-white-gray p {
  color: #8f8f8f;
}
.tile-stats.tile-white-gray:hover {
  background-color: #fafafa;
}

.spc-left{
	  /* Only round the top corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
  background: blue; 
}

.spc-left > .tile-stats{
	border-radius:10px 0px 0px 10px;
	-moz-border-radius:10px 0px 0px 10px;
}
.spc-right > .tile-stats{
	border-radius:0px 10px 10px 0px;
	-moz-border-radius:0px 10px 10px 0px;
}
.spc-left,.spc-right{
	text-align:center;
}

.tabs li { 
  /* Makes a horizontal row */
  width:100%;
  float: left; 
  list-style:none;
  /* So the psueudo elements can be
     abs. positioned inside */
  position: relative; 
}
.tabs span { 
  /* Make them block level
     and only as wide as they need */
  float: left; 
  padding: 10px 10px; 
  text-decoration: none;
  
  /* Default colors */ 
  color: black;
  background: #FFF; 
  
  /* Only round the bottom corners */
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-bottomright: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; 
}
.tabs .active {
  /* Highest, active tab is on top */
  z-index: 3;
}
.tabs .active > span { 
  /* Colors when tab is active */
  background: #3BAFDA; 
  color: black; 
  width:100%;
}
.tabs li:before, .tabs li:after, 
.tabs li span:before, .tabs li span:after {
  /* All pseudo elements are 
     abs. positioned and on bottom */
  position: absolute;
  top: 0;
}
/* Only the first, last, and active
   tabs need pseudo elements at all */
.tabs li:last-child:after,   .tabs li:last-child span:after,
.tabs li:first-child:before, .tabs li:first-child span:before,
.tabs .active:after,   .tabs .active:before, 
.tabs .active span:after, .tabs .active span:before {
  content: "";
}
.tabs .active:before, .tabs .active:after {
  background: #3BAFDA; 
  
  /* Squares below circles */
  z-index: 1;
}
/* Squares */
.right li:before,.left li:after {
  background: #FFF;
  width: 10px;
  height: 10px;
}
.tabs li:before {
  left: -10px;      
}
.tabs li:after { 
  right: -10px;
}
/* Circles */
.left li span:after,.right li span:before {
  width: 20px; 
  height: 20px;
  /* Circles are circular */
  -webkit-border-radius: 10px;
  -moz-border-radius:    10px;
  border-radius:         10px;
  background: #FFF;
  
  /* Circles over squares */
  z-index: 2;
}
.tabs .active span:after, .tabs .active span:before {
  background: #FFF;
}
/* First and last tabs have different
   outside color needs */
.tabs li:first-child.active span:before,
.tabs li:last-child.active span:after {
  background: #FFF;
}
.tabs li span:before {
  left: -20px;
}
.tabs li span:after {
  right: -20px;
}
.spc-up{
	background:#FFFFFF;
}
.uni span{
	/* Only round the bottom corners */
  -webkit-border-top-left-radius: 15px;
  -webkit-border-top-right-radius: 15px;
  -moz-border-radius-topleft: 15px;
  -moz-border-radius-topright: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px; 
}


